In [1]:
import sqlite3
import pandas as pd
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
import numpy as np

In [3]:
DB_PATH = "../anaslo_02/anaslo_02.db"
SPREADSHEET_ID = "10-B_vV1pvUzXmvGAiHhODGJgCloOsAmqSO9HvXpk_T8"

In [4]:
# „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàË™çË®ºË®≠ÂÆö
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
jsonf = r"C:\python\dataOnline\anaslo_02\spreeadsheet-347321-ff675ab5ccbd.json"
creds = ServiceAccountCredentials.from_json_keyfile_name(jsonf, scope)
client = gspread.authorize(creds)

In [5]:
# Table name ÂèñÂæó
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
tables = cursor.fetchall()
conn.close()

print(tables)

[('halls',), ('models',), ('prefectures',), ('results',), ('sqlite_sequence',)]

In [6]:
# Ê§úÁ¥¢„Ç≠„Éº„ÉØ„Éº„Éâ
HALL_WORD = "EXA_FIRST"

conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()
cursor.execute("SELECT hall_id, name FROM halls WHERE name LIKE ?", ('%' + HALL_WORD + '%',))
results = cursor.fetchall()

# ÁµêÊûúË°®Á§∫
if results:
    print(f"üîç '{HALL_WORD}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅÆÊ§úÁ¥¢ÁµêÊûú:")
    for hall_id, hall_name in results:
        print(f" - hall_name: {hall_name}, hall_id: {hall_id}")
else:
    print(f"‚ùå '{HALL_WORD}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅØË¶ã„Å§„Åã„Çä„Åæ„Åõ„Çì„Åß„Åó„Åü„ÄÇ")
    
conn.close()

üîç 'EXA_FIRST' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅÆÊ§úÁ¥¢ÁµêÊûú:
 - hall_name: EXA FIRST, hall_id: 108

In [7]:
query = """
-- Âá∫Áéâ„Éá„Éº„Çø„Å´„Éõ„Éº„É´Âêç„Å®Ê©üÁ®ÆÂêç„ÇíÁµêÂêà„Åó„Å¶ÂèñÂæó
SELECT
    r.*, 
    h.name AS hall_name,     -- „Éõ„Éº„É´Âêç„ÇíËøΩÂä†
    m.name AS model_name     -- Ê©üÁ®ÆÂêç„ÇíËøΩÂä†
FROM results r
JOIN halls h ON r.hall_id = h.hall_id  -- „Éõ„Éº„É´„Å®ÁµêÂêà
JOIN models m ON r.model_id = m.model_id  -- Ê©üÁ®Æ„Å®ÁµêÂêà
WHERE h.name = ?  -- ÊåáÂÆö„Éõ„Éº„É´„ÅÆ„Åø
  AND m.name LIKE '%„Ç∏„É£„Ç∞„É©„Éº%'  -- „Ç∏„É£„Ç∞„É©„ÉºÁ≥ªÊ©üÁ®Æ„Å´ÈôêÂÆö
ORDER BY r.date DESC, r.unit_no ASC;
"""

conn = sqlite3.connect(DB_PATH)
df = pd.read_sql_query(query, conn, params=(hall_name,))

df['date'] = pd.to_datetime(df['date'])
df.drop(columns=["result_id", "hall_id", "model_id"], inplace=True)
df = df[["hall_name", "date", "model_name", "unit_no", "game", "BB", "RB", "medals"]]
df["BB_rate"] = (df["game"] / df["BB"]).round(1)
df["RB_rate"] = (df["game"] / df["RB"]).round(1)
df["Total_rate"] = (df["game"] / (df["BB"] + df["RB"])).round(1)
df["day"] = df["date"].dt.day
df["month"] = df["date"].dt.month
df["weekday"] = df["date"].dt.weekday

conn.close()

In [8]:
df.shape

(51376, 14)

In [10]:
df = df.replace([np.inf, -np.inf], np.nan)
df = df.fillna(0)
df.shape
# DataFrame „Çí„Ç∑„Éº„Éà„Å´Êõ∏„ÅçËæº„ÇÄ
sheet_name = "DATA"
spreadsheet = client.open_by_key(SPREADSHEET_ID)
sheet = spreadsheet.worksheet(sheet_name)
sheet.clear()
set_with_dataframe(sheet, df)
print(f"‚úÖ „Ç∑„Éº„Éà '{sheet_name}' „Å´ DataFrame „ÇíÊõ∏„ÅçËæº„Åø„Åæ„Åó„ÅüÔºÅ")

‚úÖ „Ç∑„Éº„Éà 'DATA' „Å´ DataFrame „ÇíÊõ∏„ÅçËæº„Åø„Åæ„Åó„ÅüÔºÅ

In [11]:
csv_file = f"../anaslo_02/out/{hall_name}_analysis_data.csv"
df.to_csv(csv_file, index=False, encoding="utf-8-sig")

In [13]:
print(df.shape)
df.head()

(51376, 14)

,hall_name,date,model_name,unit_no,game,BB,RB,medals,BB_rate,RB_rate,Total_rate,day,month,weekday
0,EXA FIRST,2025-04-06,„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV,1001,6813,29,21,879,234.9,324.4,136.3,6,4,6
1,EXA FIRST,2025-04-06,„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV,1002,5540,26,20,1759,213.1,277.0,120.4,6,4,6
2,EXA FIRST,2025-04-06,„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV,1003,2892,13,6,415,222.5,482.0,152.2,6,4,6
3,EXA FIRST,2025-04-06,„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV,1004,2562,6,6,-700,427.0,427.0,213.5,6,4,6
4,EXA FIRST,2025-04-06,„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV,1005,4940,19,11,-562,260.0,449.1,164.7,6,4,6

In [14]:
for model in df["model_name"].unique():
    print(f"Ê©üÁ®ÆÂêç: {model}")
    df_tmp = df[df["model_name"] == model]
    medals = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="day", values="medals", aggfunc="sum", margins=True, margins_name="Total")
    csv_file = f"../anaslo_02/out/{hall_name}_{model}_medals_by_day.csv"
    medals.to_csv(csv_file, encoding="utf-8-sig")
    
    game = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="day", values="game", aggfunc="sum", margins=True, margins_name="Total")
    rb = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="day", values="RB", aggfunc="sum", margins=True, margins_name="Total")
    rb_rate = (game / rb).round(1)
    csv_file = f"../anaslo_02/out/{hall_name}_{model}_rb_rate_by_day.csv"
    rb_rate.to_csv(csv_file, encoding="utf-8-sig")
    
    display(medals.head())

Ê©üÁ®ÆÂêç: „Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV

day                    1     2     3     4      5     6     7     8     9  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001     9917 -3144   916  1317  -1476 -5136 -1737 -7764  -970
           1002     7762  5508  2598  1647   3488  4011  1606  2891 -2044
           1003     9466  6246  6696 -2319  12364 -5080  1998  -712 -1454
           1004      223  2998  6149 -1646   -722 -2959  3547  4362  -942
           1005     9875  3408 -1364  8560   2220  -762  2063 -2678 -1377

day                   10  ...    23    24    25     26     27    28    29  \
model_name unit_no        ...
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001    -6080  ...  2653 -3110 -3735  -3835   1699 -3036  -682
           1002     4820  ... -4778  3438  3752    633   1333  2654 -1189
           1003    -1480  ...   535  3094 -4259  11006    342 -4250 -1667
           1004    -2108  ...  8654 -3543  -594   3743  10908 -3272  4132
           1005     1525  ... -1182  3200 -3588   4024    628  2823 -3939

day                   30    31  Total
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001     4838  -453 -31132
           1002     1741  1395  50951
           1003     1327 -4094  58216
           1004    -1990  8418  44403
           1005     1127  4205  45655

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2

day                     1     2     3     4     5     6     7     8     9  \
model_name  unit_no
„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2 1051    -4152  2794 -5407 -1518 -4534 -6127  1645  -518 -5539
            1052      388  1035   899 -2971  4096 -3932 -4627  2604 -5048
            1053    -4557 -2276  2019  -999 -6069  7679  -207  4323 -2438
            1054     1889 -4169  1041  1581   244    85 -4626  3824 -1057
            1055    -5953 -4264  4538 -1994 -2187  -196 -3131  1758 -2266

day                    10  ...    23    24    25    26    27    28    29  \
model_name  unit_no        ...
„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2 1051      593  ...   517 -6934  4203  3828 -8502 -4280 -1887
            1052    -4548  ... -1178 -2323   383  -560  -657  1328 -1820
            1053    -3927  ... -3743   394  -948  4945   416   889 -2223
            1054    -3464  ...  3062  -218 -4450  1673  3355   981  -603
            1055     2449  ...  -129  2201  1868 -2703 -3140 -3228 -1706

day                    30    31  Total
model_name  unit_no
„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2 1051    -1781  1472 -73886
            1052      844 -3199   8366
            1053    -1556  4829  23100
            1054     -824  1668   3439
            1055     1859  1683 -21507

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº

day                    1     2     3     4     5     6     7     8     9  \
model_name unit_no
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1061    -1235 -3261  2311 -2041  6482 -2532 -1102  8893  2961
           1062      917 -1886 -5040  2291  2376  2518  -759 -2844 -1988
           1063    -1850 -1952 -4589  2471  4690 -1017   603 -1153  4038
           1064     5759  2454  7523  -357 -1093  -944  -588  1437 -1885
           1065     -119  6135  -441 -4717 -2213  1612 -1200  9005 -4182

day                   10  ...    23    24    25    26    27    28    29    30  \
model_name unit_no        ...
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1061    -2511  ... -2985 -2464   392 -5411  1309 -5162  -389  1501
           1062      829  ...  1702   250  2070  2071  -873 -3417  3055  -517
           1063      503  ...  5696  -284  4098 -1375   594   498 -1436   298
           1064     -716  ... -6594 -5881  -265  2374   754 -4848 -1787 -1203
           1065     2622  ...  -605   147 -2011   280 -2167  -438  1705 -3653

day                   31  Total
model_name unit_no
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1061    -2801  -3711
           1062      547  11852
           1063    -2968  22464
           1064    -1623 -19488
           1065    -5038  -6401

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3

day                      1       2       3      4       5       6      7  \
model_name unit_no
„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3 1061     -276.0   947.0  -785.0  -79.0  -703.0   -44.0   29.0
           1062     1312.0  -285.0   594.0 -985.0  -479.0  -356.0  803.0
           1063      726.0  -838.0  -803.0 -356.0  -403.0  1900.0 -747.0
           1064     -771.0  2550.0 -1147.0  968.0   -38.0   206.0  -53.0
           1065    -3085.0  -373.0 -1156.0  373.0  6573.0  -997.0 -927.0

day                      8       9      10  ...      23     24      25  \
model_name unit_no                          ...
„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3 1061     2126.0  -232.0  -544.0  ...     NaN  747.0    74.0
           1062     -903.0    50.0  -150.0  ...     NaN -232.0 -3094.0
           1063     -597.0  -703.0   244.0  ...     NaN  121.0  1806.0
           1064      356.0   -79.0  -568.0  ...     NaN -276.0   994.0
           1065      994.0  1012.0 -1215.0  ... -1767.0  830.0  1356.0

day                     26      27      28      29      30      31  Total
model_name unit_no
„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3 1061      759.0  -309.0   150.0   103.0 -1347.0     NaN    -77
           1062     1853.0  2903.0   650.0  1159.0  -526.0     NaN  -1709
           1063     -724.0  -662.0  3926.0  1588.0 -1512.0     NaN   8243
           1064     -559.0   415.0  -679.0  -312.0  -244.0     NaN  -3279
           1065     4003.0 -1035.0   868.0  -447.0   733.0 -1876.0  -7112

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº

day                       1     2     3     4     5     6     7     8     9  \
model_name    unit_no
„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº 1115     4641 -1079   463  1297  1059  3302 -1071  4206 -3321
              1116     2002  -120 -1994 -4136  8479 -1244  5029 -1371 -3170
              1117      994  4297   624 -2949  2647 -1021  3000 -1776  5062
              1118     3461  -256   325   -44 -3274 -4118  1735  -776 -2556
              1119    -1962  -874  6820  4568  1168  1065 -3333   229  -212

day                      10  ...    23    24    25    26    27    28    29  \
model_name    unit_no        ...
„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº 1115    -2547  ... -2315  2153  2227  2970 -3412 -1789  1303
              1116    -1848  ...  -382  -683  -423  4418  2068 -1061   144
              1117    -1808  ... -2048  -171 -3076  4265  -535  -703  2309
              1118      419  ...  -479 -2785  1665  3974 -1456 -2300  -997
              1119    -1023  ...  1732 -1833 -1528  -759 -1262 -2706  1691

day                      30    31  Total
model_name    unit_no
„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº 1115     1956   200   8549
              1116    -1359 -1962  -6874
              1117    -1096 -1029  12615
              1118     -724  -395  -8754
              1119     -845  -639  -6108

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP

day                       1     2     3     4     5     6     7     8     9  \
model_name    unit_no
„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP 1100      780  1724  -354  -900   371  -324  3391 -1315  1582
              1101     1318  2680  -559  -144   185  3319   753  3244  -526
              1102     -162 -3512 -2843  3450  1594  1141  -511  4927  -864
              1103     -760   482 -2777  3379 -1024  -358  -571  -794   888
              1104     1749  -941  -285  -997  4447  -679 -1365 -1324  2062

day                      10  ...    23    24    25    26    27    28    29  \
model_name    unit_no        ...
„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP 1100      524  ... -2506  -303  -662   -29   427  -776   200
              1101     1962  ...   756  2353  2136   926   -27 -1624  -505
              1102    -1300  ...  -629   623  4050  2447  -771   644    47
              1103     -562  ...  -577  1317   494  -588  4014    24 -1656
              1104     -394  ... -2083  -341  -874  2550   -32  1333  -791

day                      30    31  Total
model_name    unit_no
„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP 1100    -1506  -574   6171
              1101      732  -785  13214
              1102    -1111  1491   5676
              1103    -1285 -1453    235
              1104    -1070  1774   2084

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫

day                    1     2     3     4     5     6     7     8     9  \
model_name unit_no
„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫  1100     -435  -905   665 -2335   585   938  -902   262   256
           1101     1747  1685  1039   221   829 -2176  -127  1014   267
           1102    -3164  -855  4368  -312 -2183 -2107  1462 -1432 -2208
           1103    -1817  2112 -2201 -3152  -727   976   359   856  -807
           1104     2617  -865 -2443  -414 -3118  4752    59 -2600 -2774

day                   10  ...    23    24    25    26    27    28    29    30  \
model_name unit_no        ...
„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫  1100       88  ...  1380 -2374  1305  5908   145 -1615  1359    92
           1101    -2508  ...   720   338   333   998  6171  3462 -1579 -1497
           1102     -250  ... -2920 -1626  3070 -1847  4609  2157  -300   738
           1103     -972  ... -1648 -1395  9618   862  2793 -3089   995 -1256
           1104    -2645  ...   939  -765 -1459  1561  2053 -1171 -1099  1300

day                   31  Total
model_name unit_no
„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫  1100    -1756   -609
           1101     2036  15855
           1102    -1897   1066
           1103       56  -4233
           1104    -2053  -7711

[5 rows x 32 columns]

Ê©üÁ®ÆÂêç: „Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII

day                       1     2     3     4     7     8     9    10    11  \
model_name    unit_no
„Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII 1145     -697  -856 -1359 -1535  2479   676  1124 -1171  1700
              1146      571   -18 -1300  -332  2921     9  -444  1076  -691
              1147      238  -509 -1535  -150  2091   -21  -615   838  2268
              1148    -1218  -591  -615  1771   912  1297   874  -715  1547
              1149    -1112 -1065 -1265  -762  2718  -626  -179  -903  -809

day                      12  ...    23    24    25    26   27    28    29  \
model_name    unit_no        ...
„Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII 1145    -1688  ...    21 -1006   418   350  338  3259    56
              1146      394  ...   665  -638  -591  1418 -374  2126   806
              1147     -950  ... -1300  -226  3926   982  -44  -362  1771
              1148     -538  ...   138  -432   544   -29  -76   350   979
              1149      215  ...    41     3    21 -1135  -53  -559  -244

day                      30    31  Total
model_name    unit_no
„Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII 1145       15  1371   -446
              1146     -479  -326   2678
              1147     1053  -268   2230
              1148     -715   -88   2022
              1149     -526   650  -7506

[5 rows x 30 columns]

Ê©üÁ®ÆÂêç: S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK

day                      1    2     3     4     5     6    22    23    24  \
model_name   unit_no
S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK 1061      603 -959 -1206   500  2268  1241   362  1171  -615
             1062     2497   -9  3259 -1441 -1041  -356   688 -1159 -1135
             1063     2497  338  1665 -1159 -1606  -479  1229  1597   826
             1064     -500 -735  -218   291  3753 -1747  2215  -853   347
             1065      538 -774  2388   641  -735  1826 -2515  1685  1971

day                     25    26    27    28    29    30    31  Total
model_name   unit_no
S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK 1061     -653 -1429  3494 -1900  -947   641  1924   4495
             1062     2232  -747   524  -650  -891  1241  -650   2362
             1063    -2691  -503  2250 -1676   197   450    -3   2932
             1064     1844  -488  -829  1241  -253 -1159  -606   2303
             1065    -1606 -1359  1488 -1088 -1171    50  1029   2368