In [5]:
import pandas as pd
import sqlite3
import os
import glob

In [6]:
CSV_FOLDER = "../csv"  # CSVãƒ•ã‚¡ã‚¤ãƒ«ãŒã‚ã‚‹ãƒ•ã‚©ãƒ«ãƒ€
DB_PATH = "../db/pachislo.db"
HALL_ID = 101262
MODEL_NAME = "Sãƒã‚¤ã‚¸ãƒ£ã‚°ãƒ©ãƒ¼â…¤KD"

In [7]:
# === ãƒ†ãƒ¼ãƒ–ãƒ«ä½œæˆ ===
def create_table(conn):
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS slot_data (
            date TEXT,
            hall_id INTEGER,
            model TEXT,
            unit_no INTEGER,
            start INTEGER,
            bb INTEGER,
            rb INTEGER,
            art INTEGER,
            max_medals INTEGER,
            bb_rate TEXT,
            rb_rate TEXT,
            art_rate TEXT,
            total_rate TEXT,
            last_start INTEGER,
            UNIQUE(date, unit_no)
        )
    """)
    conn.commit()

In [8]:
# === CSV â†’ DB æŒ¿å…¥ ===
def insert_csv_to_db(csv_file, conn):
    date = os.path.basename(csv_file).split("_")[-1].replace(".csv", "")
    df = pd.read_csv(csv_file)

    # å¿…è¦ãªåˆ—åã‚’çµ±ä¸€
    df = df.rename(
        columns={
            "å°ç•ªå·": "unit_no",
            "ç´¯è¨ˆã‚¹ã‚¿ãƒ¼ãƒˆ": "start",
            "BBå›æ•°": "bb",
            "RBå›æ•°": "rb",
            "ARTå›æ•°": "art",
            "æœ€å¤§æŒç‰": "max_medals",
            "BBç¢ºç‡": "bb_rate",
            "RBç¢ºç‡": "rb_rate",
            "ARTç¢ºç‡": "art_rate",
            "åˆæˆç¢ºç‡": "total_rate",
            "å‰æ—¥æœ€çµ‚ã‚¹ã‚¿ãƒ¼ãƒˆ": "last_start",
        }
    )

    df["date"] = date
    df["hall_id"] = HALL_ID
    df["model"] = MODEL_NAME

    expected_columns = [
        "date",
        "hall_id",
        "model",
        "unit_no",
        "start",
        "bb",
        "rb",
        "art",
        "max_medals",
        "bb_rate",
        "rb_rate",
        "art_rate",
        "total_rate",
        "last_start",
    ]
    
    df = df[[col for col in expected_columns if col in df.columns]]
    
    cursor = conn.cursor()
    for _, row in df.iterrows():
        cursor.execute(
            """
            INSERT OR IGNORE INTO slot_data (
                date, hall_id, model, unit_no, start, bb, rb, art,
                max_medals, bb_rate, rb_rate, art_rate, total_rate, last_start
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """,
            tuple(row[col] for col in expected_columns),
        )
    conn.commit()

In [9]:
# === å®Ÿè¡Œ ===
def main():
    conn = sqlite3.connect(DB_PATH)
    create_table(conn)

    csv_files = glob.glob(os.path.join(CSV_FOLDER, "*.csv"))
    for file in csv_files:
        print(f"ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: {file}")
        insert_csv_to_db(file, conn)

    conn.close()
    print("âœ… å…¨CSVãƒ‡ãƒ¼ã‚¿ã‚’DBã«å–ã‚Šè¾¼ã¿ã¾ã—ãŸï¼")

if __name__ == "__main__":
    main()

ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-18.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-19.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-20.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-21.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-22.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-23.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-24.csv
ğŸ“¥ ã‚¤ãƒ³ãƒãƒ¼ãƒˆä¸­: ../csv\EXA_FIRST_Sï¾ï½²ï½¼ï¾ï½¬ï½¸ï¾ï¾—ï½°â…¤KD_2025-03-25.csv
âœ… å…¨CSVãƒ‡ãƒ¼ã‚¿ã‚’DBã«å–ã‚Šè¾¼ã¿ã¾ã—ãŸï¼

In [10]:
# DBç¢ºèªã¨JSONå‡ºåŠ›
df = pd.read_sql("SELECT * FROM slot_data", sqlite3.connect(DB_PATH))
df = df.drop_duplicates(subset=["unit_no", "date"])
df.to_json("C:/python/akmicWebApp/akmic-app_02/public/slot_data.json", orient="records", force_ascii=False)

In [11]:
df_pivot = df.drop_duplicates(subset=["unit_no", "date"])
df_pivot = df_pivot.pivot(index="unit_no", columns="date", values="total_rate")

In [12]:
df_pivot.shape

(81, 8)