In [191]:
import sqlite3
import pandas as pd

In [192]:

# データベースに接続（なければ新規作成される）
conn = sqlite3.connect("../db/anaslo.db")

# クエリでデータを抽出し、DataFrameとして読み込み
df = pd.read_sql("SELECT * FROM slot_data", conn)

# WHERE machine_name = "マイジャグラーV"
query = """
SELECT *
FROM slot_data
"""
df = pd.read_sql(query, conn)
df["date"] = pd.to_datetime(df["date"])

# 接続終了
conn.close()

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170989 entries, 0 to 170988
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   hall_id       170989 non-null  int64
 1   machine_name  170989 non-null  object
 2   unit_no       170989 non-null  int64
 3   date          170989 non-null  datetime64[ns]
 4   start         170989 non-null  int64
 5   bb            170989 non-null  int64
 6   rb            170989 non-null  int64
 7   medals        170929 non-null  float64
 8   bb_rate       170989 non-null  int64
 9   rb_rate       170989 non-null  int64
 10  total_rate    170989 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(1)
memory usage: 14.4+ MB

In [196]:
target_df = df[(df['hall_id'] == 100800) & (df['machine_name'] == "ゴーゴージャグラー3")].copy()
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_rows', None)  # 全行表示
pd.set_option('display.max_columns', None)  # 全列表示

target_df['day'] = target_df['date'].dt.day.astype(int)
target_df['weedday'] = target_df['date'].dt.weekday.astype(int)
# print(target_df['date'].unique())
target_df.head()

,hall_id,machine_name,unit_no,date,start,bb,rb,medals,bb_rate,rb_rate,total_rate,day,weedday
88748,100800,ゴーゴージャグラー3,543,2025-01-01,1096,4,1,0,274,1096,219,1,2
88749,100800,ゴーゴージャグラー3,544,2025-01-01,1731,13,2,0,133,865,115,1,2
88750,100800,ゴーゴージャグラー3,545,2025-01-01,2186,8,9,0,273,242,128,1,2
88751,100800,ゴーゴージャグラー3,546,2025-01-01,3355,11,12,0,305,279,145,1,2
88752,100800,ゴーゴージャグラー3,547,2025-01-01,1016,4,2,0,254,508,169,1,2

In [198]:
rb_count = target_df.pivot_table(index="unit_no", columns="day", values="rb", aggfunc="sum", margins=True, margins_name="Total_RB_Rate")
start_count = target_df.pivot_table(index="unit_no", columns="day", values="start", aggfunc="sum", margins=True, margins_name="Total_RB_Rate")
rb_rete = start_count / rb_count
rb_rete

day,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,Total_RB_Rate
unit_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
495,NaN,NaN,NaN,NaN,NaN,NaN,699,268,800,470,707,441,591,424,297,499,814,242,342,550,510,240,261,492,241,313,inf,539,286,338,NaN,352
496,NaN,NaN,NaN,NaN,NaN,NaN,272,436,305,378,430,287,609,313,566,306,417,240,624,235,236,268,454,343,inf,293,425,360,256,562,NaN,339
497,NaN,NaN,NaN,NaN,NaN,NaN,322,472,537,727,462,327,339,409,314,inf,inf,287,315,283,341,489,1545,331,250,333,455,226,326,426,NaN,358
498,NaN,NaN,NaN,NaN,NaN,884,277,326,inf,inf,247,337,513,371,294,569,572,282,401,531,inf,1105,425,1030,315,384,630,411,362,651,NaN,374
499,NaN,NaN,NaN,NaN,NaN,243,inf,338,344,1096,333,246,415,491,626,384,430,424,313,229,280,409,351,252,421,361,391,307,820,270,NaN,334
500,NaN,NaN,NaN,NaN,NaN,267,334,370,inf,556,245,415,232,262,203,807,inf,393,225,772,378,254,532,726,306,549,611,273,196,399,NaN,307
501,NaN,NaN,NaN,NaN,NaN,265,273,387,267,302,inf,217,232,256,348,748,455,363,1177,463,221,282,924,304,386,238,890,294,307,562,NaN,294
502,NaN,NaN,NaN,NaN,NaN,inf,431,429,216,717,346,281,294,415,inf,225,227,381,402,1755,inf,248,361,299,422,226,283,376,377,402,NaN,323
503,NaN,NaN,NaN,NaN,NaN,535,453,298,1384,302,666,263,216,752,249,1114,249,242,347,931,495,278,302,300,272,297,1558,832,280,242,NaN,308
504,NaN,NaN,NaN,NaN,NaN,1160,459,283,281,inf,404,337,218,248,421,438,530,459,295,495,342,229,265,374,870,320,407,626,300,528,NaN,326
505,NaN,NaN,NaN,NaN,NaN,724,399,297,328,422,534,632,232,251,393,309,308,320,335,270,inf,552,800,307,389,1075,inf,416,284,380,NaN,338
506,NaN,NaN,NaN,NaN,NaN,278,inf,271,inf,357,275,328,216,605,386,516,234,331,630,786,inf,245,390,239,322,356,528,246,588,279,NaN,320
507,NaN,NaN,NaN,NaN,NaN,290,319,763,269,268,471,2106,296,281,484,669,206,415,339,342,334,380,502,290,293,270,449,364,297,327,NaN,331
508,NaN,NaN,NaN,NaN,NaN,257,434,358,236,465,441,521,698,347,402,529,425,391,572,356,295,216,295,413,296,322,682,253,430,264,NaN,350
509,NaN,NaN,NaN,NaN,NaN,544,286,429,502,661,301,445,761,343,320,270,1144,390,494,inf,511,177,677,709,405,312,316,400,241,620,NaN,344
510,NaN,NaN,NaN,NaN,NaN,536,287,351,751,278,1697,388,304,334,302,223,376,373,950,482,359,inf,623,375,263,394,407,404,275,337,NaN,356
511,NaN,NaN,NaN,NaN,NaN,488,208,308,413,375,538,300,439,556,346,327,554,351,489,385,448,284,385,375,315,352,321,446,414,731,NaN,360
540,310,271,940,264,406,996,614,391,429,483,307,261,220,368,566,450,292,606,340,inf,445,204,339,538,539,304,353,332,846,688,649,341
541,723,1221,278,296,816,602,346,338,289,293,371,466,inf,618,246,311,681,280,237,301,767,268,440,230,252,326,796,376,241,346,335,334
542,426,407,307,382,333,340,386,276,217,219,inf,267,266,338,1748,337,528,244,218,inf,468,347,736,1574,241,237,393,444,192,288,inf,312
543,342,400,381,414,286,319,534,441,285,441,396,599,367,309,301,416,437,297,442,456,448,409,306,298,487,343,414,303,374,274,308,358
544,459,372,404,337,426,384,390,337,344,426,320,298,385,346,330,362,476,432,315,285,328,271,354,316,303,292,450,306,277,619,373,346
545,372,426,527,258,403,395,237,397,314,477,309,410,402,409,471,555,322,280,283,247,388,327,308,359,371,517,343,405,357,371,480,355
546,405,379,311,434,365,355,416,290,453,320,242,510,326,343,504,388,293,337,419,362,336,296,349,402,248,375,303,334,338,333,328,343
547,388,357,268,340,550,347,352,297,328,346,330,530,998,309,368,429,330,284,322,397,389,320,439,405,433,380,716,280,302,625,275,349
548,466,306,417,440,321,280,433,370,317,234,587,488,444,263,368,475,360,315,539,337,334,468,397,393,315,571,503,385,385,426,366,359
549,341,376,327,339,325,273,379,355,391,272,392,467,364,416,600,421,365,275,418,384,341,452,391,302,335,293,308,250,308,353,388,344
550,361,437,402,400,361,324,326,328,363,276,386,385,277,350,310,285,501,345,469,446,462,411,658,582,307,290,378,710,332,340,428,367
551,356,374,425,297,310,450,307,321,368,327,292,344,271,345,353,300,295,748,390,326,326,427,298,277,563,416,373,300,346,371,332,339
552,449,389,463,330,355,316,378,295,461,435,392,389,285,360,325,375,280,268,301,380,307,486,306,315,320,297,612,329,369,970,409,350
553,392,446,296,413,351,317,382,385,296,476,380,344,500,409,465,358,344,605,362,419,467,424,370,341,330,437,335,461,416,341,581,387
554,384,349,472,283,291,355,289,358,340,339,311,380,361,1253,374,360,360,682,627,380,272,384,340,355,356,441,420,408,392,281,386,358
555,366,408,333,310,368,368,309,612,343,366,289,299,314,349,362,425,313,435,345,402,270,328,551,338,458,320,536,438,768,320,326,358
556,339,429,409,374,384,353,345,338,529,294,363,332,333,380,358,361,428,457,344,634,395,317,258,439,331,594,638,599,659,339,451,381
Total_RB_Rate,381,377,364,334,353,345,347,341,341,341,351,356,321,341,359,376,353,329,363,373,348,332,351,344,324,336,405,349,340,358,372,350

In [199]:
for d in [2, 12, 22, 23, 25, 26, 27]:
    rb_count = target_df[target_df['day'] == d].pivot_table(index="unit_no", columns="date", values="rb", aggfunc="sum", margins=True, margins_name="Total_RB_Rate")
    start_count = target_df[target_df['day'] == d].pivot_table(index="unit_no", columns="date", values="start", aggfunc="sum", margins=True, margins_name="Total_RB_Rate")
    rb_rate = start_count / rb_count
    # rb_rate = pd.concat([start_count / rb_count, start_count])
    display(rb_rate.sort_values("Total_RB_Rate").head(10))
    display(start_count)

date,2024-11-02 00:00:00,2024-12-02 00:00:00,2025-01-02 00:00:00,2025-02-02 00:00:00,2025-03-02 00:00:00,2025-04-02 00:00:00,Total_RB_Rate
unit_no,,,,,,,
540,271,271,NaN,NaN,NaN,NaN,271
548,361,357,222,306,467,269,306
554,NaN,NaN,600,274,329,368,349
547,302,489,308,767,338,298,357
544,477,306,375,470,396,335,372
551,350,638,266,580,395,312,374
549,1419,340,652,304,478,284,376
Total_RB_Rate,411,361,350,367,415,356,377
546,851,290,403,331,375,373,379
552,339,434,436,291,601,523,389

date,2024-11-02 00:00:00,2024-12-02 00:00:00,2025-01-02 00:00:00,2025-02-02 00:00:00,2025-03-02 00:00:00,2025-04-02 00:00:00,Total_RB_Rate
unit_no,,,,,,,
540,6498,7862,NaN,NaN,NaN,NaN,14360
541,959,1483,NaN,NaN,NaN,NaN,2442
542,3943,5012,NaN,NaN,NaN,NaN,8955
543,3149,3090,1841,3777,3003,754,15614
544,2385,6114,1873,4229,4351,3348,22300
545,4867,2054,2769,3841,4502,1118,19151
546,2552,1743,6040,7952,3378,5969,27634
547,4828,1467,2156,3835,2704,5370,20360
548,6145,4285,6425,5816,4672,4837,32180
549,1419,2722,652,5163,4304,2274,16534
550,4626,1232,1159,8248,4397,2178,21840
551,2796,2553,3458,3480,3950,4682,20919
552,6110,3037,2615,5521,4209,2613,24105
553,2281,1086,878,8052,4136,2311,18744
554,NaN,NaN,3000,3829,4939,2208,13976
555,NaN,NaN,4807,3974,5818,5000,19599
556,NaN,NaN,4716,6087,6228,1429,18460
Total_RB_Rate,52558,43740,42389,73804,60591,44091,317173

date,2024-11-12 00:00:00,2024-12-12 00:00:00,2025-01-12 00:00:00,2025-02-12 00:00:00,2025-03-12 00:00:00,Total_RB_Rate
unit_no,,,,,,
501,NaN,NaN,217,NaN,NaN,217
499,NaN,NaN,246,NaN,NaN,246
540,261,NaN,NaN,NaN,NaN,261
503,NaN,NaN,263,NaN,NaN,263
542,267,NaN,NaN,NaN,NaN,267
502,NaN,NaN,281,NaN,NaN,281
496,NaN,NaN,287,NaN,NaN,287
544,402,220,NaN,405,274,298
555,NaN,785,NaN,313,260,299
511,NaN,NaN,300,NaN,NaN,300

date,2024-11-12 00:00:00,2024-12-12 00:00:00,2025-01-12 00:00:00,2025-02-12 00:00:00,2025-03-12 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,4414,NaN,NaN,4414
496,NaN,NaN,7186,NaN,NaN,7186
497,NaN,NaN,3593,NaN,NaN,3593
498,NaN,NaN,6067,NaN,NaN,6067
499,NaN,NaN,6140,NaN,NaN,6140
500,NaN,NaN,3738,NaN,NaN,3738
501,NaN,NaN,3681,NaN,NaN,3681
502,NaN,NaN,6186,NaN,NaN,6186
503,NaN,NaN,7638,NaN,NaN,7638
504,NaN,NaN,6739,NaN,NaN,6739
505,NaN,NaN,2527,NaN,NaN,2527
506,NaN,NaN,4914,NaN,NaN,4914
507,NaN,NaN,2106,NaN,NaN,2106
508,NaN,NaN,3124,NaN,NaN,3124
509,NaN,NaN,4453,NaN,NaN,4453
510,NaN,NaN,3494,NaN,NaN,3494
511,NaN,NaN,6891,NaN,NaN,6891
540,4438,NaN,NaN,NaN,NaN,4438
541,932,NaN,NaN,NaN,NaN,932
542,5066,NaN,NaN,NaN,NaN,5066
543,925,456,NaN,1401,3805,6587
544,2011,2645,NaN,2838,3837,11331
545,2963,1438,NaN,1519,642,6562
546,1887,624,NaN,1971,4691,9173
547,1574,2984,NaN,3139,778,8475
548,1783,436,NaN,602,2547,5368
549,3013,4564,NaN,3655,3251,14483
550,5204,2911,NaN,1014,3960,13089
551,1119,1085,NaN,2300,2380,6884
552,2650,2386,NaN,6439,2907,14382
553,899,738,NaN,1252,5014,7903
554,NaN,4102,NaN,7955,1637,13694
555,NaN,785,NaN,6882,5468,13135
556,NaN,3175,NaN,8470,3974,15619
Total_RB_Rate,34464,28329,82891,49437,44891,240012

date,2024-11-22 00:00:00,2024-12-22 00:00:00,2025-01-22 00:00:00,2025-02-22 00:00:00,2025-03-22 00:00:00,Total_RB_Rate
unit_no,,,,,,
509,NaN,NaN,177,NaN,NaN,177
540,204,NaN,NaN,NaN,NaN,204
508,NaN,NaN,216,NaN,NaN,216
504,NaN,NaN,229,NaN,NaN,229
495,NaN,NaN,240,NaN,NaN,240
506,NaN,NaN,245,NaN,NaN,245
502,NaN,NaN,248,NaN,NaN,248
500,NaN,NaN,254,NaN,NaN,254
541,268,NaN,NaN,NaN,NaN,268
496,NaN,NaN,268,NaN,NaN,268

date,2024-11-22 00:00:00,2024-12-22 00:00:00,2025-01-22 00:00:00,2025-02-22 00:00:00,2025-03-22 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,7208,NaN,NaN,7208
496,NaN,NaN,4293,NaN,NaN,4293
497,NaN,NaN,4892,NaN,NaN,4892
498,NaN,NaN,1105,NaN,NaN,1105
499,NaN,NaN,6142,NaN,NaN,6142
500,NaN,NaN,6605,NaN,NaN,6605
501,NaN,NaN,4226,NaN,NaN,4226
502,NaN,NaN,7426,NaN,NaN,7426
503,NaN,NaN,3058,NaN,NaN,3058
504,NaN,NaN,6866,NaN,NaN,6866
505,NaN,NaN,1655,NaN,NaN,1655
506,NaN,NaN,4163,NaN,NaN,4163
507,NaN,NaN,2278,NaN,NaN,2278
508,NaN,NaN,6484,NaN,NaN,6484
509,NaN,NaN,6908,NaN,NaN,6908
510,NaN,NaN,1624,NaN,NaN,1624
511,NaN,NaN,4260,NaN,NaN,4260
540,5302,NaN,NaN,NaN,NaN,5302
541,1339,NaN,NaN,NaN,NaN,1339
542,3473,NaN,NaN,NaN,NaN,3473
543,1720,3446,NaN,7066,2885,15117
544,2803,4451,NaN,8666,3343,19263
545,2461,2347,NaN,5810,6070,16688
546,3523,3218,NaN,7624,4844,19209
547,1857,2753,NaN,8352,811,13773
548,1250,3461,NaN,6671,6873,18255
549,4233,1790,NaN,7038,496,13557
550,1511,2531,NaN,6750,5233,16025
551,5650,4088,NaN,5434,4060,19232
552,3545,1894,NaN,5849,3289,14577
553,6866,2388,NaN,6891,4190,20335
554,NaN,6152,NaN,5322,4257,15731
555,NaN,1463,NaN,6805,3216,11484
556,NaN,5317,NaN,5930,7783,19030
Total_RB_Rate,45533,45299,79193,94208,57350,321583

date,2024-11-23 00:00:00,2024-12-23 00:00:00,2025-01-23 00:00:00,2025-02-23 00:00:00,2025-03-23 00:00:00,Total_RB_Rate
unit_no,,,,,,
556,NaN,519,NaN,230,275,258
495,NaN,NaN,261,NaN,NaN,261
504,NaN,NaN,265,NaN,NaN,265
508,NaN,NaN,295,NaN,NaN,295
551,458,497,NaN,240,285,298
503,NaN,NaN,302,NaN,NaN,302
543,306,346,NaN,355,271,306
552,293,1890,NaN,225,inf,306
545,355,373,NaN,328,244,308
540,339,NaN,NaN,NaN,NaN,339

date,2024-11-23 00:00:00,2024-12-23 00:00:00,2025-01-23 00:00:00,2025-02-23 00:00:00,2025-03-23 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,5489,NaN,NaN,5489
496,NaN,NaN,1818,NaN,NaN,1818
497,NaN,NaN,1545,NaN,NaN,1545
498,NaN,NaN,1274,NaN,NaN,1274
499,NaN,NaN,3508,NaN,NaN,3508
500,NaN,NaN,1065,NaN,NaN,1065
501,NaN,NaN,924,NaN,NaN,924
502,NaN,NaN,2524,NaN,NaN,2524
503,NaN,NaN,906,NaN,NaN,906
504,NaN,NaN,2917,NaN,NaN,2917
505,NaN,NaN,1601,NaN,NaN,1601
506,NaN,NaN,2343,NaN,NaN,2343
507,NaN,NaN,1003,NaN,NaN,1003
508,NaN,NaN,2359,NaN,NaN,2359
509,NaN,NaN,1354,NaN,NaN,1354
510,NaN,NaN,1869,NaN,NaN,1869
511,NaN,NaN,2693,NaN,NaN,2693
540,4410,NaN,NaN,NaN,NaN,4410
541,1758,NaN,NaN,NaN,NaN,1758
542,1473,NaN,NaN,NaN,NaN,1473
543,3669,2764,NaN,2488,5147,14068
544,3425,2213,NaN,5061,3110,13809
545,3553,2985,NaN,5912,5129,17579
546,1986,4091,NaN,2515,2591,11183
547,2926,792,NaN,2337,3163,9218
548,4230,2989,NaN,5023,849,13091
549,854,3427,NaN,6013,2621,12915
550,1407,2353,NaN,1622,1193,6575
551,2291,1987,NaN,5765,4276,14319
552,4686,1890,NaN,5405,564,12545
553,2408,563,NaN,3227,6026,12224
554,NaN,3301,NaN,4631,1248,9180
555,NaN,2159,NaN,1974,1924,6057
556,NaN,1038,NaN,6888,5505,13431
Total_RB_Rate,39076,32552,35192,58861,43346,209027

date,2024-11-25 00:00:00,2024-12-25 00:00:00,2025-01-25 00:00:00,2025-02-25 00:00:00,2025-03-25 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,241,NaN,NaN,241
542,241,NaN,NaN,NaN,NaN,241
546,260,510,NaN,216,221,248
497,NaN,NaN,250,NaN,NaN,250
541,252,NaN,NaN,NaN,NaN,252
510,NaN,NaN,263,NaN,NaN,263
503,NaN,NaN,272,NaN,NaN,272
507,NaN,NaN,293,NaN,NaN,293
508,NaN,NaN,296,NaN,NaN,296
544,272,285,NaN,330,364,303

date,2024-11-25 00:00:00,2024-12-25 00:00:00,2025-01-25 00:00:00,2025-02-25 00:00:00,2025-03-25 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,6256,NaN,NaN,6256
496,NaN,NaN,1844,NaN,NaN,1844
497,NaN,NaN,4996,NaN,NaN,4996
498,NaN,NaN,4406,NaN,NaN,4406
499,NaN,NaN,1263,NaN,NaN,1263
500,NaN,NaN,5203,NaN,NaN,5203
501,NaN,NaN,1928,NaN,NaN,1928
502,NaN,NaN,4640,NaN,NaN,4640
503,NaN,NaN,4900,NaN,NaN,4900
504,NaN,NaN,870,NaN,NaN,870
505,NaN,NaN,4667,NaN,NaN,4667
506,NaN,NaN,3224,NaN,NaN,3224
507,NaN,NaN,7320,NaN,NaN,7320
508,NaN,NaN,1182,NaN,NaN,1182
509,NaN,NaN,2025,NaN,NaN,2025
510,NaN,NaN,5531,NaN,NaN,5531
511,NaN,NaN,5984,NaN,NaN,5984
540,2697,NaN,NaN,NaN,NaN,2697
541,2269,NaN,NaN,NaN,NaN,2269
542,4579,NaN,NaN,NaN,NaN,4579
543,1117,417,NaN,2730,1093,5357
544,3807,5415,NaN,2639,3279,15140
545,406,3151,NaN,1036,1338,5931
546,3642,2039,NaN,3884,5094,14659
547,3099,1278,NaN,1910,1073,7360
548,2818,4161,NaN,1343,3004,11326
549,487,2808,NaN,1658,1412,6365
550,3513,3509,NaN,4113,4816,15951
551,1126,2221,NaN,381,776,4504
552,1123,2051,NaN,2395,3706,9275
553,1485,4923,NaN,4141,1338,11887
554,NaN,2438,NaN,1545,2433,6416
555,NaN,2626,NaN,1944,3674,8244
556,NaN,5998,NaN,6228,2331,14557
Total_RB_Rate,32168,43035,66239,35947,35367,212756

date,2024-11-26 00:00:00,2024-12-26 00:00:00,2025-01-26 00:00:00,2025-02-26 00:00:00,2025-03-26 00:00:00,Total_RB_Rate
unit_no,,,,,,
502,NaN,NaN,226,NaN,NaN,226
542,237,NaN,NaN,NaN,NaN,237
501,NaN,NaN,238,NaN,NaN,238
507,NaN,NaN,270,NaN,NaN,270
550,722,324,NaN,247,296,290
544,333,261,NaN,361,259,292
496,NaN,NaN,293,NaN,NaN,293
549,274,331,NaN,365,216,293
552,285,282,NaN,580,274,297
503,NaN,NaN,297,NaN,NaN,297

date,2024-11-26 00:00:00,2024-12-26 00:00:00,2025-01-26 00:00:00,2025-02-26 00:00:00,2025-03-26 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,5003,NaN,NaN,5003
496,NaN,NaN,2343,NaN,NaN,2343
497,NaN,NaN,3994,NaN,NaN,3994
498,NaN,NaN,5375,NaN,NaN,5375
499,NaN,NaN,2524,NaN,NaN,2524
500,NaN,NaN,1647,NaN,NaN,1647
501,NaN,NaN,6435,NaN,NaN,6435
502,NaN,NaN,3609,NaN,NaN,3609
503,NaN,NaN,5052,NaN,NaN,5052
504,NaN,NaN,4805,NaN,NaN,4805
505,NaN,NaN,1075,NaN,NaN,1075
506,NaN,NaN,4982,NaN,NaN,4982
507,NaN,NaN,4869,NaN,NaN,4869
508,NaN,NaN,5149,NaN,NaN,5149
509,NaN,NaN,3428,NaN,NaN,3428
510,NaN,NaN,3546,NaN,NaN,3546
511,NaN,NaN,7391,NaN,NaN,7391
540,5160,NaN,NaN,NaN,NaN,5160
541,1303,NaN,NaN,NaN,NaN,1303
542,2129,NaN,NaN,NaN,NaN,2129
543,1511,1847,NaN,1347,2834,7539
544,4662,5738,NaN,2530,3111,16041
545,631,2132,NaN,2878,1602,7243
546,2639,2413,NaN,2827,3358,11237
547,1788,3720,NaN,1276,1192,7976
548,687,2027,NaN,789,492,3995
549,4106,1656,NaN,3286,1509,10557
550,722,3563,NaN,4692,1479,10456
551,1877,881,NaN,1114,2778,6650
552,3422,7043,NaN,1740,4115,16320
553,2033,406,NaN,2460,778,5677
554,NaN,2755,NaN,1603,1381,5739
555,NaN,2716,NaN,1804,1243,5763
556,NaN,3350,NaN,3437,1522,8309
Total_RB_Rate,32670,40247,71227,31783,27394,203321

date,2024-11-27 00:00:00,2024-12-27 00:00:00,2025-01-27 00:00:00,2025-02-27 00:00:00,2025-03-27 00:00:00,Total_RB_Rate
unit_no,,,,,,
502,NaN,NaN,283,NaN,NaN,283
546,254,515,NaN,246,inf,303
549,1009,323,NaN,528,209,308
509,NaN,NaN,316,NaN,NaN,316
511,NaN,NaN,321,NaN,NaN,321
553,491,210,NaN,inf,1764,335
545,277,489,NaN,308,400,343
540,353,NaN,NaN,NaN,NaN,353
551,423,482,NaN,247,292,373
550,281,305,NaN,1259,976,378

date,2024-11-27 00:00:00,2024-12-27 00:00:00,2025-01-27 00:00:00,2025-02-27 00:00:00,2025-03-27 00:00:00,Total_RB_Rate
unit_no,,,,,,
495,NaN,NaN,868,NaN,NaN,868
496,NaN,NaN,3398,NaN,NaN,3398
497,NaN,NaN,3640,NaN,NaN,3640
498,NaN,NaN,1260,NaN,NaN,1260
499,NaN,NaN,3519,NaN,NaN,3519
500,NaN,NaN,3054,NaN,NaN,3054
501,NaN,NaN,890,NaN,NaN,890
502,NaN,NaN,6222,NaN,NaN,6222
503,NaN,NaN,1558,NaN,NaN,1558
504,NaN,NaN,4069,NaN,NaN,4069
505,NaN,NaN,796,NaN,NaN,796
506,NaN,NaN,2114,NaN,NaN,2114
507,NaN,NaN,449,NaN,NaN,449
508,NaN,NaN,4094,NaN,NaN,4094
509,NaN,NaN,4109,NaN,NaN,4109
510,NaN,NaN,814,NaN,NaN,814
511,NaN,NaN,7057,NaN,NaN,7057
540,2822,NaN,NaN,NaN,NaN,2822
541,1592,NaN,NaN,NaN,NaN,1592
542,1967,NaN,NaN,NaN,NaN,1967
543,1277,3016,NaN,3367,1449,9109
544,1423,2599,NaN,2618,567,7207
545,6086,3915,NaN,4009,5195,19205
546,1272,3089,NaN,5421,215,9997
547,899,1473,NaN,1429,1208,5009
548,3161,2539,NaN,1273,579,7552
549,1009,5165,NaN,1585,3337,11096
550,2807,4569,NaN,1259,1951,10586
551,1270,3860,NaN,1236,1462,7828
552,1312,1416,NaN,3085,914,6727
553,3928,5041,NaN,322,1764,11055
554,NaN,2310,NaN,5633,463,8406
555,NaN,5474,NaN,1902,1194,8570
556,NaN,1920,NaN,2144,3587,7651
Total_RB_Rate,30825,46386,47911,35283,23885,184290