In [16]:
import pandas as pd
import sqlite3
import csv
import os
import re
import glob

# --- è¨­å®š ---
DB_NAME = "../anaslo_02/anaslo_02.db"
# CSV_FILE = "..anaslo_02/csv/æ±äº¬éƒ½_EXA_FIRST_2025-04-03.csv"
csv_files = glob.glob("../anaslo_02/csv/*_202*.csv")
csv_file = csv_files[0]

In [17]:
# --- ãƒ•ã‚¡ã‚¤ãƒ«åã‹ã‚‰éƒ½é“åºœçœŒãƒ»ãƒ›ãƒ¼ãƒ«åãƒ»æ—¥ä»˜ã‚’å–å¾— ---
filename = os.path.basename(csv_file)
match = re.match(r"(.+?)_(.+?)_(\d{4}-\d{2}-\d{2})\.csv", filename)
if not match:
    raise ValueError("ãƒ•ã‚¡ã‚¤ãƒ«åã¯ã€éƒ½é“åºœçœŒ_ãƒ›ãƒ¼ãƒ«å_YYYY-MM-DD.csvã€ã®å½¢å¼ã§ã‚ã‚‹å¿…è¦ãŒã‚ã‚Šã¾ã™")

prefecture_name = match.group(1)
hall_name = match.group(2)
data_date = match.group(3)

print(f"ğŸ“„ ãƒ•ã‚¡ã‚¤ãƒ«åã‹ã‚‰æŠ½å‡ºï¼š")
print(f"   éƒ½é“åºœçœŒ : {prefecture_name}")
print(f"   ãƒ›ãƒ¼ãƒ«å : {hall_name}")
print(f"   ãƒ‡ãƒ¼ã‚¿æ—¥ä»˜ : {data_date}")

ğŸ“„ ãƒ•ã‚¡ã‚¤ãƒ«åã‹ã‚‰æŠ½å‡ºï¼š
   éƒ½é“åºœçœŒ : æ±äº¬éƒ½
   ãƒ›ãƒ¼ãƒ«å : EXA_FIRST
   ãƒ‡ãƒ¼ã‚¿æ—¥ä»˜ : 2025-04-03

In [19]:
# --- CSVã‚’èª­ã¿è¾¼ã‚€ ---
df = pd.read_csv(csv_file)

# --- æ•´å½¢ï¼šæ•°å€¤ã‚«ãƒ©ãƒ ã®ã‚«ãƒ³ãƒã‚„ + ã‚’é™¤å» ---
df["Gæ•°"] = df["Gæ•°"].astype(str).str.replace(",", "").astype(int)
df["å·®æš"] = (
    df["å·®æš"]
    .astype(str)
    .str.replace(",", "")
    .str.replace("+", "")
    .astype(int)
)
df.head()

        æ©Ÿç¨®å   å°ç•ªå·    Gæ•°    å·®æš  BB  RB     åˆæˆç¢ºç‡     BBç¢ºç‡     RBç¢ºç‡
0  ãƒã‚¤ã‚¸ãƒ£ã‚°ãƒ©ãƒ¼V  1001  3137 -1912   5   4  1/348.6  1/627.4  1/784.2
1  ãƒã‚¤ã‚¸ãƒ£ã‚°ãƒ©ãƒ¼V  1002  1315  -909   3   0  1/438.3  1/438.3    1/0.0
2  ãƒã‚¤ã‚¸ãƒ£ã‚°ãƒ©ãƒ¼V  1003  2017  -126   7   5  1/168.1  1/288.1  1/403.4
3  ãƒã‚¤ã‚¸ãƒ£ã‚°ãƒ©ãƒ¼V  1004  5421  1088  24  14  1/142.7  1/225.9  1/387.2
4  ãƒã‚¤ã‚¸ãƒ£ã‚°ãƒ©ãƒ¼V  1005   681  -321   1   1  1/340.5  1/681.0  1/681.0

In [11]:
# --- ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹æ¥ç¶š ---
conn = sqlite3.connect(DB_NAME)
cursor = conn.cursor()

# éƒ½é“åºœçœŒIDã®å–å¾— or ç™»éŒ²
cursor.execute("INSERT OR IGNORE INTO prefectures (name) VALUES (?)", (prefecture_name,))
cursor.execute("SELECT prefecture_id FROM prefectures WHERE name = ?", (prefecture_name,))
prefecture_id = cursor.fetchone()[0]

# ãƒ›ãƒ¼ãƒ«IDã®å–å¾— or ç™»éŒ²
cursor.execute("""
    INSERT OR IGNORE INTO halls (name, prefecture_id)
    VALUES (?, ?)
""", (hall_name, prefecture_id))
cursor.execute("""
    SELECT hall_id FROM halls
    WHERE name = ? AND prefecture_id = ?
""", (hall_name, prefecture_id))
hall_id = cursor.fetchone()[0]

print(f"ğŸ¢ {prefecture_name}: {prefecture_id}")
print(f"ğŸ¢ {hall_name}: {hall_id}")

ğŸ¢ æ±äº¬éƒ½: 13
ğŸ¢ EXA_FIRST: 2093

In [13]:
# --- CSVèª­ã¿è¾¼ã¿ã¨ç™»éŒ²å‡¦ç† ---
with open(csv_file, newline="", encoding="utf-8") as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        model_name = row["æ©Ÿç¨®å"].strip()
        unit_no = int(row["å°ç•ªå·"])
        games = int(row["Gæ•°"].replace(",", "").strip())

        # å·®æšï¼ˆ+/- ã®å‡¦ç†å«ã‚€ï¼‰
        medals_str = row["å·®æš"].replace(",", "").replace("+", "").strip()
        medals = int(medals_str) if medals_str else 0

        BB = int(row["BB"])
        RB = int(row["RB"])

        # æ©Ÿç¨®IDã®å–å¾— or ç™»éŒ²
        cursor.execute("INSERT OR IGNORE INTO models (name) VALUES (?)", (model_name,))
        cursor.execute("SELECT model_id FROM models WHERE name = ?", (model_name,))
        model_id = cursor.fetchone()[0]

        # å‡ºç‰ãƒ‡ãƒ¼ã‚¿ç™»éŒ²
        cursor.execute("""
            INSERT OR IGNORE INTO results (
                hall_id, model_id, unit_no, date, start, BB, RB, medals
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
        """, (hall_id, model_id, unit_no, data_date, games, BB, RB, medals))

# --- ã‚³ãƒŸãƒƒãƒˆã¨çµ‚äº† ---
conn.commit()
conn.close()

print("âœ… å‡ºç‰ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹ã«ç™»éŒ²ã—ã¾ã—ãŸã€‚")

KeyError: 'æ©Ÿç¨®å'