In [372]:

from gspread_dataframe import get_as_dataframe, set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
import gspread
import pandas as pd
import numpy as np
import sqlite3
import datetime
from dateutil.relativedelta import relativedelta


DB_PATH = r"C:\python\dataOnline\anaslo_02\db\anaslo_02.db"

spreadSheet_ids = {
    "EXA FIRST": "10-B_vV1pvUzXmvGAiHhODGJgCloOsAmqSO9HvXpk_T8",
    "„Éë„É©„ÉÉ„ÉÑ„Ç©Â∑ùË∂äÂ∫ó": "179nJF0NvLng7xPKsd_NX2pJBXsDNsO8SJhOvUAvFk2I",
    }

# Ê§úÁ¥¢„Ç≠„Éº„ÉØ„Éº„Éâ„Çà„Çä„Éõ„Éº„É´ÂêçÂèñÂæó
SEARCH_WORD = "EXA FIRST"
SPREADSHEET_ID = spreadSheet_ids[SEARCH_WORD]

# „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàË™çË®ºË®≠ÂÆö
scope = [
    "https://spreadsheets.google.com/feeds",
    "https://www.googleapis.com/auth/drive",
]
jsonf = r"C:\python\dataOnline\anaslo_02\json\spreeadsheet-347321-ff675ab5ccbd.json"
creds = ServiceAccountCredentials.from_json_keyfile_name(jsonf, scope)
client = gspread.authorize(creds)
spreadsheet = client.open_by_key(SPREADSHEET_ID)

# # Table name ÂèñÂæó
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
tables = cursor.fetchall()
# print(tables)

cursor.execute(
    "SELECT hall_id, name FROM halls WHERE name LIKE ?", ("%" + SEARCH_WORD + "%",)
)
results = cursor.fetchall()

# ÁµêÊûúË°®Á§∫
if results:
    print(f"üîç '{SEARCH_WORD}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅÆÊ§úÁ¥¢ÁµêÊûú:")
    for hall_id, hall_name in results:
        print(f" - hall_name: {hall_name}, hall_id: {hall_id}")
else:
    print(f"‚ùå '{SEARCH_WORD}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅØË¶ã„Å§„Åã„Çä„Åæ„Åõ„Çì„Åß„Åó„Åü„ÄÇ")

query = """
-- Âá∫Áéâ„Éá„Éº„Çø„Å´„Éõ„Éº„É´Âêç„Å®Ê©üÁ®ÆÂêç„ÇíÁµêÂêà„Åó„Å¶ÂèñÂæó
SELECT
    r.*, 
    h.name AS hall_name,     -- „Éõ„Éº„É´Âêç„ÇíËøΩÂä†
    m.name AS model_name     -- Ê©üÁ®ÆÂêç„ÇíËøΩÂä†
FROM results r
JOIN halls h ON r.hall_id = h.hall_id  -- „Éõ„Éº„É´„Å®ÁµêÂêà
JOIN models m ON r.model_id = m.model_id  -- Ê©üÁ®Æ„Å®ÁµêÂêà
WHERE h.name = ?  -- ÊåáÂÆö„Éõ„Éº„É´„ÅÆ„Åø
AND m.name LIKE '%„Ç∏„É£„Ç∞„É©„Éº%'  -- „Ç∏„É£„Ç∞„É©„ÉºÁ≥ªÊ©üÁ®Æ„Å´ÈôêÂÆö
ORDER BY r.date DESC, r.unit_no ASC;
"""

# „Éñ„Éâ„Ç¶„Ç∑„Éü„É•„É¨„Éº„Çø„Éº
def grape_calculator_myfive(game, bb, rb, medals):
    bb_medals = 239.25
    rb_medals = 95.25
    cherry_rate_high = 0.04228
    cherry_rate_low = 0.05847
    replay_rate = 0.411
    denominator_inner = (-medals - (game*3 - (bb*bb_medals + rb*rb_medals + game*replay_rate + game*cherry_rate_high))) / 8
    grape_rate = (game / denominator_inner) - ((game / denominator_inner) * 2)
    
    return grape_rate

df = pd.read_sql_query(query, conn, params=(hall_name,))
conn.close()

df["date"] = pd.to_datetime(df["date"])
df.drop(columns=["result_id", "hall_id", "model_id"], inplace=True)
df = df[["hall_name", "date", "model_name", "unit_no", "game", "BB", "RB", "medals"]]
df["BB_rate"] = (df["game"] / df["BB"]).round(1)
df["RB_rate"] = (df["game"] / df["RB"]).round(1)
df["grape_rate"] = grape_calculator_myfive(df["game"], df["BB"], df["RB"], df["medals"]).round(2)
df["Total_rate"] = (df["game"] / (df["BB"] + df["RB"])).round(1)
df["month"] = df["date"].dt.strftime("%Y-%m")
df["day"] = df["date"].dt.day
df["weekday"] = df["date"].dt.weekday
df["unit_last"] = df["unit_no"].astype(str).str[-1]

df = df.replace([np.inf, -np.inf], np.nan)
df = df.fillna(0)

print(df.shape)
df.head()

üîç 'EXA FIRST' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅÆÊ§úÁ¥¢ÁµêÊûú:
 - hall_name: EXA FIRST, hall_id: 108
(57456, 16)

,hall_name,date,model_name,unit_no,game,BB,RB,medals,BB_rate,RB_rate,grape_rate,Total_rate,month,day,weekday,unit_last
0,EXA FIRST,2025-04-16,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1001,4838,18,18,-206,268.8,268.8,6.35,134.4,2025-04,16,2,1
1,EXA FIRST,2025-04-16,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1002,2406,8,6,-326,300.8,401.0,5.80,171.9,2025-04,16,2,2
2,EXA FIRST,2025-04-16,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1003,4506,19,13,121,237.2,346.6,6.20,140.8,2025-04,16,2,3
3,EXA FIRST,2025-04-16,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1004,686,1,1,-491,686.0,686.0,5.96,343.0,2025-04,16,2,4
4,EXA FIRST,2025-04-16,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1005,5430,17,19,-762,319.4,285.8,6.04,150.8,2025-04,16,2,5

## RB_RATE

In [365]:
df_tmp = df[(df["model_name"] == "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV")].copy()
df_tmp = df_tmp[(df_tmp["date"].dt.date <= datetime.date(2025, 4, 17)) & (df_tmp["date"].dt.date >= datetime.date(2025, 1, 1))]

game = df_tmp.pivot_table(index=["model_name", "unit_no"],columns="date",values="game",aggfunc="sum",margins=True,margins_name="TOTAL")
bb = df_tmp.pivot_table(index=["model_name", "unit_no"],columns="date",values="BB",aggfunc="sum",margins=True,margins_name="TOTAL",)
rb = df_tmp.pivot_table(index=["model_name", "unit_no"],columns="date",values="RB",aggfunc="sum",margins=True,margins_name="TOTAL",)
medals = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="date", values="medals", aggfunc="sum")

In [366]:
rb_rate = (game / rb).round(1)
rb_rate.to_csv("rb_rate.csv", encoding="utf_8_sig")
rb_rate.sort_values(by="TOTAL", ascending=True, inplace=True)
rb_rate.head()

date                2025-01-01 00:00:00  2025-01-02 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   322.9                596.4
           1047                   309.0                424.9
           1039                   205.5                787.0
           1078                   288.7                224.9
           1034                   217.5                544.2

date                2025-01-03 00:00:00  2025-01-04 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   622.0                340.6
           1047                   502.4                623.8
           1039                   704.0                319.7
           1078                   320.2                589.2
           1034                   488.4                243.3

date                2025-01-05 00:00:00  2025-01-06 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   298.1                301.7
           1047                   213.1                  inf
           1039                   449.6                282.8
           1078                   277.8                420.5
           1034                   257.5                318.0

date                2025-01-07 00:00:00  2025-01-08 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   235.4                542.8
           1047                   255.7                254.3
           1039                   707.2                347.0
           1078                   400.1                293.5
           1034                   289.5                334.9

date                2025-01-09 00:00:00  2025-01-10 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   360.5                636.2
           1047                   278.4                300.6
           1039                   482.2                280.8
           1078                  1078.0                  inf
           1034                   523.2                257.3

date                2025-01-11 00:00:00  2025-01-12 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   502.6                214.0
           1047                   344.5                391.9
           1039                   322.7                326.3
           1078                   260.6                237.1
           1034                   657.5                835.5

date                2025-01-13 00:00:00  2025-01-14 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   417.3                352.8
           1047                   457.0                402.5
           1039                   557.5                311.1
           1078                   408.2                360.7
           1034                   330.4                472.0

date                2025-01-15 00:00:00  2025-01-16 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   335.8                363.0
           1047                   296.9                310.4
           1039                   797.0                  inf
           1078                   398.0                294.6
           1034                   373.9                292.4

date                2025-01-17 00:00:00  2025-01-18 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   302.5                389.7
           1047                   176.8                326.1
           1039                  1335.0                487.8
           1078                   295.4                329.2
           1034                   445.9                288.0

date                2025-01-19 00:00:00  2025-01-20 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                  1828.0                260.4
           1047                   397.6                521.0
           1039                   228.1                279.9
           1078                   750.0                911.5
           1034                   230.6                358.6

date                2025-01-21 00:00:00  2025-01-22 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   305.1                429.3
           1047                   327.1                484.0
           1039                   233.8                377.7
           1078                   366.6               1523.0
           1034                   852.5                423.2

date                2025-01-23 00:00:00  2025-01-24 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   311.4                473.0
           1047                   185.8                325.3
           1039                     inf                615.7
           1078                   298.2                316.8
           1034                   558.0                362.1

date                2025-01-25 00:00:00  2025-01-26 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   424.4                347.4
           1047                   318.2                365.3
           1039                   226.9                315.4
           1078                   268.3                349.2
           1034                   410.1                294.7

date                2025-01-27 00:00:00  2025-01-28 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   421.5                220.5
           1047                   556.0                256.7
           1039                     inf                570.9
           1078                   408.9                474.2
           1034                   684.0               1753.0

date                2025-01-29 00:00:00  2025-01-30 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   456.2                502.2
           1047                   255.3                514.5
           1039                   316.2                263.5
           1078                   383.0                339.3
           1034                     inf                708.0

date                2025-01-31 00:00:00  2025-02-01 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   528.0                195.0
           1047                   288.5                286.9
           1039                   280.8                393.3
           1078                   350.0                415.4
           1034                   261.4                375.7

date                2025-02-02 00:00:00  2025-02-03 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   328.9                212.4
           1047                   428.4                468.0
           1039                   316.0                977.0
           1078                   282.4                464.2
           1034                   392.6                515.6

date                2025-02-04 00:00:00  2025-02-05 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                     inf                399.7
           1047                   538.3                598.9
           1039                   369.1                321.8
           1078                   524.0                218.0
           1034                  1026.0                432.0

date                2025-02-06 00:00:00  2025-02-07 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   225.2                603.2
           1047                   394.6                383.3
           1039                   435.0                874.5
           1078                   473.1                328.2
           1034                   446.7                726.0

date                2025-02-08 00:00:00  2025-02-09 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   276.8                478.3
           1047                   372.4                300.9
           1039                   340.3                250.1
           1078                   391.6                261.9
           1034                   372.9                242.2

date                2025-02-10 00:00:00  2025-02-11 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   310.1                459.7
           1047                   397.6                425.3
           1039                   219.4                239.9
           1078                   282.0                322.3
           1034                     inf                263.7

date                2025-02-12 00:00:00  2025-02-13 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   551.8                672.0
           1047                   398.4                391.8
           1039                   283.3                279.2
           1078                   417.0                617.5
           1034                   245.0                335.0

date                2025-02-14 00:00:00  2025-02-15 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   310.3                174.0
           1047                   348.6                303.5
           1039                   356.6                506.0
           1078                   306.5                326.3
           1034                   249.2                295.3

date                2025-02-16 00:00:00  2025-02-17 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   253.9               1721.0
           1047                   372.4               1054.0
           1039                   353.4                275.0
           1078                   393.3                434.2
           1034                   295.0                388.7

date                2025-02-18 00:00:00  2025-02-19 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   262.1                224.2
           1047                   621.0                290.4
           1039                   350.3                406.2
           1078                     inf                398.8
           1034                     inf                522.0

date                2025-02-20 00:00:00  2025-02-21 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   360.8                266.3
           1047                   345.5                316.9
           1039                   466.8               1596.0
           1078                   308.4                401.1
           1034                   585.5                280.9

date                2025-02-22 00:00:00  2025-02-23 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   386.6                306.4
           1047                   274.8                272.0
           1039                   359.4                410.3
           1078                   322.8                768.4
           1034                   316.3                383.2

date                2025-02-24 00:00:00  2025-02-25 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   380.1                262.4
           1047                   255.0                363.3
           1039                   457.0                305.8
           1078                   454.3                368.3
           1034                   246.2                304.7

date                2025-02-26 00:00:00  2025-03-01 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   345.9                302.0
           1047                   317.0                323.6
           1039                   263.4                251.3
           1078                   265.9                206.8
           1034                   359.8                268.7

date                2025-03-02 00:00:00  2025-03-03 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   289.1                345.1
           1047                   569.1                382.3
           1039                   389.2                412.5
           1078                   366.9                  inf
           1034                   262.6                344.0

date                2025-03-04 00:00:00  2025-03-05 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   501.3                278.2
           1047                     inf                251.0
           1039                   594.3                384.1
           1078                  1300.0                263.2
           1034                   331.2                399.0

date                2025-03-06 00:00:00  2025-03-07 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   277.1                664.0
           1047                   296.0                308.9
           1039                     inf                282.6
           1078                   231.7                313.9
           1034                   423.8                259.8

date                2025-03-08 00:00:00  2025-03-09 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   442.1                282.1
           1047                   372.6                581.4
           1039                     inf                572.9
           1078                  1255.0                787.7
           1034                   362.7                588.9

date                2025-03-10 00:00:00  2025-03-11 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   556.0                389.9
           1047                   507.0                415.8
           1039                   495.0                236.0
           1078                   236.7                545.4
           1034                   327.6                445.4

date                2025-03-12 00:00:00  2025-03-13 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   431.2                  inf
           1047                   275.4                424.8
           1039                   220.9                238.6
           1078                   305.2                387.0
           1034                   916.0                666.0

date                2025-03-14 00:00:00  2025-03-15 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   247.8                280.8
           1047                   328.0                325.7
           1039                   698.0                378.6
           1078                   340.5                241.3
           1034                   250.6                183.4

date                2025-03-16 00:00:00  2025-03-17 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   248.0                256.0
           1047                   434.2                369.4
           1039                   269.0                245.2
           1078                   373.2                603.4
           1034                   325.6               1171.0

date                2025-03-18 00:00:00  2025-03-19 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                     inf                260.1
           1047                   238.5                895.0
           1039                   515.0                400.4
           1078                   975.0                366.4
           1034                   311.1                686.6

date                2025-03-20 00:00:00  2025-03-21 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   542.5                817.5
           1047                   335.6                516.8
           1039                   320.1                264.5
           1078                   287.9                423.0
           1034                   280.1                440.5

date                2025-03-22 00:00:00  2025-03-23 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   379.6                291.4
           1047                   408.5                261.1
           1039                   514.7                711.5
           1078                   303.1                511.4
           1034                   283.1                253.9

date                2025-03-24 00:00:00  2025-03-25 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   346.3                536.8
           1047                   416.2                515.2
           1039                   845.0                299.8
           1078                   641.5                242.6
           1034                   871.0                318.0

date                2025-03-26 00:00:00  2025-03-27 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   275.7                305.4
           1047                   266.4                328.9
           1039                   230.8                423.0
           1078                   267.1                337.5
           1034                   334.1                  inf

date                2025-03-28 00:00:00  2025-03-29 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   509.7                659.0
           1047                   334.5                329.0
           1039                   297.8                411.9
           1078                   243.2               1596.0
           1034                   794.0                267.8

date                2025-03-30 00:00:00  2025-03-31 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   264.0                303.6
           1047                  1098.5                217.5
           1039                     inf                267.1
           1078                   315.1                384.6
           1034                   678.0                445.5

date                2025-04-01 00:00:00  2025-04-02 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   326.2               1350.0
           1047                   274.7                354.6
           1039                   194.9                850.8
           1078                   276.9                261.8
           1034                   402.5                589.0

date                2025-04-03 00:00:00  2025-04-04 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   303.6                714.0
           1047                   217.5                309.3
           1039                   267.1                547.0
           1078                   384.6                583.5
           1034                   445.5                277.2

date                2025-04-05 00:00:00  2025-04-06 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   304.6                663.0
           1047                   230.2                334.9
           1039                   246.9                379.8
           1078                   299.0                437.3
           1034                   221.4                448.2

date                2025-04-07 00:00:00  2025-04-08 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   502.5                263.7
           1047                   289.8                312.9
           1039                   497.8                345.0
           1078                   796.0                334.4
           1034                   338.8                344.4

date                2025-04-09 00:00:00  2025-04-10 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   390.2                537.1
           1047                   347.0                360.0
           1039                   306.7                257.8
           1078                   329.1                273.5
           1034                   775.0                330.2

date                2025-04-11 00:00:00  2025-04-12 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1017                   335.2                301.8
           1047                   288.8                486.6

In [367]:
total_rate = (game / (bb+rb)).round(1)
total_rate.to_csv("total_rate.csv", encoding="utf_8_sig")
total_rate.head()

date                2025-01-01 00:00:00  2025-01-02 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   113.8                150.7
           1002                   129.0                160.8
           1003                   151.6                150.0
           1004                   163.5                150.7
           1005                   147.1                175.8

date                2025-01-03 00:00:00  2025-01-04 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   189.8                133.0
           1002                   148.4                232.8
           1003                   146.5                127.6
           1004                   177.6                169.7
           1005                   290.4                137.5

date                2025-01-05 00:00:00  2025-01-06 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   168.0                171.9
           1002                   194.6                243.0
           1003                   162.8                295.6
           1004                   174.0                148.5
           1005                   240.9                136.3

date                2025-01-07 00:00:00  2025-01-08 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   214.7                158.2
           1002                   148.3                220.2
           1003                   166.4                143.8
           1004                   148.8                431.0
           1005                   144.1                155.3

date                2025-01-09 00:00:00  2025-01-10 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   139.5                179.0
           1002                   132.4                149.4
           1003                   193.9                219.6
           1004                   415.5                158.3
           1005                   206.0                316.5

date                2025-01-11 00:00:00  2025-01-12 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   197.0                116.5
           1002                   142.2                184.9
           1003                   299.7                174.3
           1004                   108.7                173.7
           1005                   126.1                198.7

date                2025-01-13 00:00:00  2025-01-14 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   125.2                189.2
           1002                   199.2                110.0
           1003                   118.7                170.3
           1004                   132.5                183.5
           1005                   163.7                152.1

date                2025-01-15 00:00:00  2025-01-16 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   174.6                156.9
           1002                   130.1                250.2
           1003                   264.3                232.8
           1004                   121.3                668.0
           1005                   161.5                217.1

date                2025-01-17 00:00:00  2025-01-18 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   198.0                137.5
           1002                   180.7                161.8
           1003                   142.5                133.1
           1004                   149.2                200.8
           1005                   213.9                126.3

date                2025-01-19 00:00:00  2025-01-20 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   153.0                123.7
           1002                   127.2                 81.8
           1003                   143.7                128.3
           1004                   116.6                114.3
           1005                   191.6                153.8

date                2025-01-21 00:00:00  2025-01-22 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   300.0                137.0
           1002                   128.9                197.0
           1003                   197.3                156.4
           1004                   159.9                194.2
           1005                   122.3                  inf

date                2025-01-23 00:00:00  2025-01-24 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   170.5                133.3
           1002                   149.9                175.0
           1003                   134.0                  inf
           1004                   115.3                145.4
           1005                   140.6                142.2

date                2025-01-25 00:00:00  2025-01-26 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   213.1                155.2
           1002                   119.0                164.4
           1003                   164.5                177.3
           1004                   157.3                146.5
           1005                   168.1                122.2

date                2025-01-27 00:00:00  2025-01-28 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   160.0                125.9
           1002                   389.0                151.8
           1003                   122.7                184.4
           1004                   137.2                461.0
           1005                   160.0                154.1

date                2025-01-29 00:00:00  2025-01-30 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   189.9                141.6
           1002                   162.8                193.9
           1003                   290.2                164.8
           1004                   181.4                162.7
           1005                   509.5                144.5

date                2025-01-31 00:00:00  2025-02-01 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   175.4                132.0
           1002                   144.7                132.9
           1003                   169.0                110.5
           1004                   140.9                128.0
           1005                   201.1                133.2

date                2025-02-02 00:00:00  2025-02-03 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   265.4                178.1
           1002                   191.7                191.0
           1003                   236.6                207.8
           1004                   163.5                276.5
           1005                   251.7                194.8

date                2025-02-04 00:00:00  2025-02-05 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   151.1                190.5
           1002                   124.6                411.3
           1003                   227.0                110.0
           1004                   223.8                122.5
           1005                   170.4                145.8

date                2025-02-06 00:00:00  2025-02-07 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   144.9                230.0
           1002                   128.3                150.4
           1003                   196.7                173.5
           1004                   152.8                151.3
           1005                   198.1                171.8

date                2025-02-08 00:00:00  2025-02-09 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   149.3                143.5
           1002                   245.5                240.4
           1003                   143.0                156.5
           1004                   196.2                145.3
           1005                   144.0                181.3

date                2025-02-10 00:00:00  2025-02-11 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   346.0                154.2
           1002                   171.1                124.0
           1003                   176.7                222.0
           1004                   141.3                197.3
           1005                   430.0                169.6

date                2025-02-12 00:00:00  2025-02-13 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   137.4                256.4
           1002                   152.8                 99.6
           1003                   232.0                148.9
           1004                   114.0                  inf
           1005                   280.5                159.8

date                2025-02-14 00:00:00  2025-02-15 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   167.2                241.6
           1002                   182.4                165.1
           1003                   123.7                174.1
           1004                   427.0                131.6
           1005                   141.4                167.5

date                2025-02-16 00:00:00  2025-02-17 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   143.1                144.0
           1002                   226.1                128.4
           1003                   130.5                135.0
           1004                   153.9                199.0
           1005                   128.9                149.5

date                2025-02-18 00:00:00  2025-02-19 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   159.5                154.8
           1002                   189.8                132.9
           1003                   119.6                144.4
           1004                   229.8                187.5
           1005                   169.2                156.2

date                2025-02-20 00:00:00  2025-02-21 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   204.2                183.8
           1002                   294.9                161.6
           1003                   210.8                151.1
           1004                   123.1                149.5
           1005                   137.5                135.5

date                2025-02-22 00:00:00  2025-02-23 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   145.7                137.3
           1002                   139.8                  inf
           1003                   155.1                173.3
           1004                   210.6                160.4
           1005                   158.7                137.1

date                2025-02-24 00:00:00  2025-02-25 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   146.1                235.4
           1002                   153.0                167.3
           1003                   139.1                178.5
           1004                   161.2                158.8
           1005                   173.5                375.0

date                2025-02-26 00:00:00  2025-03-01 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   150.8                143.8
           1002                   168.9                132.8
           1003                   160.8                168.4
           1004                   125.1                135.2
           1005                   179.3                149.9

date                2025-03-02 00:00:00  2025-03-03 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   144.3                165.5
           1002                   110.5                  inf
           1003                   181.1                127.3
           1004                   132.8                110.2
           1005                   162.9                157.3

date                2025-03-04 00:00:00  2025-03-05 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   125.4                164.6
           1002                     inf                223.4
           1003                   144.2                141.1
           1004                   230.0                177.2
           1005                   130.0                126.8

date                2025-03-06 00:00:00  2025-03-07 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   319.3                225.9
           1002                   466.5                115.5
           1003                   127.0                153.0
           1004                     inf                127.8
           1005                   160.2                172.9

date                2025-03-08 00:00:00  2025-03-09 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   138.6                171.0
           1002                   141.6                164.9
           1003                   182.0                362.7
           1004                   114.2                225.6
           1005                   178.9                164.3

date                2025-03-10 00:00:00  2025-03-11 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   264.8                142.3
           1002                   160.2                459.5
           1003                   222.3                104.4
           1004                   178.2                175.6
           1005                   160.5                158.8

date                2025-03-12 00:00:00  2025-03-13 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   145.2                219.8
           1002                   625.0                157.7
           1003                   132.7                164.7
           1004                   127.1                179.0
           1005                   183.6                139.3

date                2025-03-14 00:00:00  2025-03-15 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   162.9                141.0
           1002                   250.8                248.2
           1003                   151.4                128.8
           1004                   377.0                167.6
           1005                   284.4                179.5

date                2025-03-16 00:00:00  2025-03-17 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   254.4                172.9
           1002                   129.0                147.8
           1003                   203.0                255.5
           1004                   133.2                259.5
           1005                   178.5                127.8

date                2025-03-18 00:00:00  2025-03-19 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   163.7                143.0
           1002                   194.6                391.5
           1003                   175.1                182.6
           1004                   187.6                199.8
           1005                   154.5                344.7

date                2025-03-20 00:00:00  2025-03-21 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   156.7                197.9
           1002                   333.5                128.6
           1003                    97.1                138.8
           1004                   134.6                165.5
           1005                   172.9                140.3

date                2025-03-22 00:00:00  2025-03-23 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   428.8                149.0
           1002                   133.0                129.8
           1003                   166.8                151.5
           1004                   525.0                134.0
           1005                   136.4                176.8

date                2025-03-24 00:00:00  2025-03-25 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   186.5                150.7
           1002                   146.9                195.9
           1003                     inf                217.0
           1004                   162.2                152.2
           1005                   154.5                236.4

date                2025-03-26 00:00:00  2025-03-27 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   217.5                148.7
           1002                   218.5                280.6
           1003                   145.3                238.4
           1004                   138.2                366.5
           1005                   161.2                324.0

date                2025-03-28 00:00:00  2025-03-29 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   151.3                151.6
           1002                   267.2                178.6
           1003                   133.9                160.2
           1004                   242.5                158.0
           1005                   158.0                152.1

date                2025-03-30 00:00:00  2025-03-31 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   162.2                123.4
           1002                   137.5                119.8
           1003                   155.3                171.9
           1004                   185.6                263.0
           1005                   159.1                112.6

date                2025-04-01 00:00:00  2025-04-02 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   143.3                137.8
           1002                   180.1                116.2
           1003                   128.2                204.0
           1004                   150.4                215.5
           1005                   185.2                114.4

date                2025-04-03 00:00:00  2025-04-04 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   123.4                186.4
           1002                   119.8                190.9
           1003                   171.9                123.8
           1004                   263.0                162.1
           1005                   112.6                250.4

date                2025-04-05 00:00:00  2025-04-06 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   173.4                136.3
           1002                   162.7                120.4
           1003                   195.9                152.2
           1004                   169.3                213.5
           1005                   145.0                164.7

date                2025-04-07 00:00:00  2025-04-08 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   162.0                175.3
           1002                   363.3                243.0
           1003                   176.8                502.0
           1004                   140.9                237.1
           1005                   273.5                159.9

date                2025-04-09 00:00:00  2025-04-10 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   134.3                227.8
           1002                   112.0                155.5
           1003                   176.3                180.0
           1004                   273.5                139.9
           1005                   135.3                128.1

date                2025-04-11 00:00:00  2025-04-12 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   176.5                174.0
           1002                   259.3                419.7

In [368]:
game.to_csv("game.csv", encoding="utf_8_sig")
game.head()

date                2025-01-01 00:00:00  2025-01-02 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  6939.0               4371.0
           1002                  6193.0               1608.0
           1003                  3336.0               5249.0
           1004                  4414.0               5274.0
           1005                  4412.0               4395.0

date                2025-01-03 00:00:00  2025-01-04 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1898.0               6384.0
           1002                  7718.0                931.0
           1003                  4687.0               8421.0
           1004                  3019.0               2545.0
           1005                  2033.0               5361.0

date                2025-01-05 00:00:00  2025-01-06 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7561.0               2063.0
           1002                  5060.0               1701.0
           1003                  4559.0               1478.0
           1004                  5743.0               4159.0
           1005                  4095.0               7770.0

date                2025-01-07 00:00:00  2025-01-08 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1503.0               3956.0
           1002                  1631.0               1101.0
           1003                  2663.0               6184.0
           1004                  6844.0                431.0
           1005                  6483.0               2950.0

date                2025-01-09 00:00:00  2025-01-10 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  3209.0               1432.0
           1002                  5694.0               5677.0
           1003                  1745.0               1098.0
           1004                   831.0               3799.0
           1005                   412.0                633.0

date                2025-01-11 00:00:00  2025-01-12 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7290.0               6873.0
           1002                  7392.0               2588.0
           1003                  5095.0               6099.0
           1004                  7721.0               3995.0
           1005                  6555.0               2384.0

date                2025-01-13 00:00:00  2025-01-14 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7639.0               1514.0
           1002                   996.0               7152.0
           1003                  7360.0               1533.0
           1004                  7157.0                367.0
           1005                  2292.0               3194.0

date                2025-01-15 00:00:00  2025-01-16 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5062.0               4863.0
           1002                  7415.0               1251.0
           1003                  1850.0               1397.0
           1004                  6794.0                668.0
           1005                  4684.0               1954.0

date                2025-01-17 00:00:00  2025-01-18 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4950.0               5773.0
           1002                  1265.0               4530.0
           1003                  7269.0               4259.0
           1004                  5520.0               1606.0
           1005                  1497.0               7201.0

date                2025-01-19 00:00:00  2025-01-20 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  2142.0               5441.0
           1002                  8522.0               1555.0
           1003                  1581.0               7315.0
           1004                  7112.0               2744.0
           1005                  2299.0               3075.0

date                2025-01-21 00:00:00  2025-01-22 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  2100.0               4657.0
           1002                  5544.0               1182.0
           1003                  1776.0               3284.0
           1004                  5278.0               3108.0
           1005                  8192.0                487.0

date                2025-01-23 00:00:00  2025-01-24 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  3239.0               6934.0
           1002                  3298.0                525.0
           1003                  3349.0                279.0
           1004                  5535.0               7413.0
           1005                  1828.0               3413.0

date                2025-01-25 00:00:00  2025-01-26 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5115.0               6675.0
           1002                  8451.0               4767.0
           1003                  5100.0               4788.0
           1004                  6606.0               6444.0
           1005                  5547.0               8309.0

date                2025-01-27 00:00:00  2025-01-28 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4961.0               1385.0
           1002                   389.0               4859.0
           1003                  7975.0               2950.0
           1004                  3568.0                461.0
           1005                  4321.0               2773.0

date                2025-01-29 00:00:00  2025-01-30 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  3418.0               4248.0
           1002                  3256.0               1357.0
           1003                  1161.0               1483.0
           1004                  2358.0               6345.0
           1005                  1019.0               2167.0

date                2025-01-31 00:00:00  2025-02-01 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5436.0               7393.0
           1002                  6802.0               7842.0
           1003                  4056.0               8177.0
           1004                  7047.0               6655.0
           1005                  1408.0               7857.0

date                2025-02-02 00:00:00  2025-02-03 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4778.0               2137.0
           1002                  2684.0               5920.0
           1003                  2129.0               2078.0
           1004                  6540.0               1106.0
           1005                  1510.0                779.0

date                2025-02-04 00:00:00  2025-02-05 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1964.0               5143.0
           1002                  8097.0               1234.0
           1003                   454.0               8796.0
           1004                  1119.0               5388.0
           1005                  3748.0               5540.0

date                2025-02-06 00:00:00  2025-02-07 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7533.0               1840.0
           1002                  1411.0               8273.0
           1003                  2164.0                694.0
           1004                  2598.0               4388.0
           1005                  1585.0               4983.0

date                2025-02-08 00:00:00  2025-02-09 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7615.0               7174.0
           1002                   982.0               2164.0
           1003                  3861.0               6418.0
           1004                  2158.0               4505.0
           1005                  7631.0               5802.0

date                2025-02-10 00:00:00  2025-02-11 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1038.0               5553.0
           1002                  2566.0               8801.0
           1003                  2651.0               3330.0
           1004                  6357.0               4340.0
           1005                   430.0               5765.0

date                2025-02-12 00:00:00  2025-02-13 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  3297.0               1282.0
           1002                  7031.0                697.0
           1003                   464.0               8786.0
           1004                  6272.0                180.0
           1005                   561.0               5112.0

date                2025-02-14 00:00:00  2025-02-15 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5350.0               4349.0
           1002                  2371.0               7925.0
           1003                  3092.0               5223.0
           1004                   427.0               8027.0
           1005                  6220.0               5193.0

date                2025-02-16 00:00:00  2025-02-17 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  6153.0               4033.0
           1002                  2261.0               7575.0
           1003                  6785.0               2969.0
           1004                  2154.0               1194.0
           1005                  8379.0               5234.0

date                2025-02-18 00:00:00  2025-02-19 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  3508.0               3561.0
           1002                  2277.0               6909.0
           1003                  3948.0               4475.0
           1004                  1149.0               1500.0
           1005                  3215.0               4062.0

date                2025-02-20 00:00:00  2025-02-21 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  3676.0               3676.0
           1002                  2064.0               3393.0
           1003                   843.0               6043.0
           1004                  6893.0               2990.0
           1005                  3851.0               3251.0

date                2025-02-22 00:00:00  2025-02-23 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7141.0               8513.0
           1002                  5873.0                338.0
           1003                  2791.0               5718.0
           1004                  1895.0               3529.0
           1005                  8728.0               3976.0

date                2025-02-24 00:00:00  2025-02-25 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4236.0               4002.0
           1002                  8108.0               5854.0
           1003                  5145.0               3391.0
           1004                  2257.0               7303.0
           1005                  2950.0               1125.0

date                2025-02-26 00:00:00  2025-03-01 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4524.0               8631.0
           1002                  3885.0               8233.0
           1003                  2734.0               7242.0
           1004                  9384.0               8520.0
           1005                  6095.0               7345.0

date                2025-03-02 00:00:00  2025-03-03 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5338.0               5628.0
           1002                  6186.0                553.0
           1003                  6340.0               7256.0
           1004                  7570.0               5728.0
           1005                  4724.0               3146.0

date                2025-03-04 00:00:00  2025-03-05 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7145.0               7736.0
           1002                   267.0               2234.0
           1003                  1154.0               8182.0
           1004                  1380.0               3012.0
           1005                  7280.0               8622.0

date                2025-03-06 00:00:00  2025-03-07 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   958.0               2711.0
           1002                   933.0               5546.0
           1003                  7745.0               4130.0
           1004                   258.0               7412.0
           1005                  1922.0               1210.0

date                2025-03-08 00:00:00  2025-03-09 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4850.0               6156.0
           1002                  4532.0               4122.0
           1003                  1456.0               1088.0
           1004                  5822.0               2030.0
           1005                  2863.0               4766.0

date                2025-03-10 00:00:00  2025-03-11 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1324.0               6262.0
           1002                  6888.0               1838.0
           1003                  1334.0               6892.0
           1004                  1069.0               3513.0
           1005                  5295.0               5874.0

date                2025-03-12 00:00:00  2025-03-13 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1887.0               2198.0
           1002                   625.0               3626.0
           1003                  7033.0               1976.0
           1004                  5337.0               2864.0
           1005                   918.0               6407.0

date                2025-03-14 00:00:00  2025-03-15 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5377.0               6345.0
           1002                  1003.0               3475.0
           1003                  7115.0               7344.0
           1004                   377.0               5699.0
           1005                  1422.0               6283.0

date                2025-03-16 00:00:00  2025-03-17 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  2290.0               3113.0
           1002                  8254.0               3547.0
           1003                  2233.0                511.0
           1004                  5463.0                519.0
           1005                  1428.0               6263.0

date                2025-03-18 00:00:00  2025-03-19 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4420.0               6294.0
           1002                  1751.0                783.0
           1003                  4027.0               3105.0
           1004                  1501.0               4994.0
           1005                  7263.0               1034.0

date                2025-03-20 00:00:00  2025-03-21 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5956.0               1781.0
           1002                   667.0               9391.0
           1003                  6701.0               7636.0
           1004                  5654.0               4800.0
           1005                  2248.0               5050.0

date                2025-03-22 00:00:00  2025-03-23 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  1715.0               8494.0
           1002                  7712.0               2725.0
           1003                  5337.0               2424.0
           1004                  1050.0               8309.0
           1005                  6413.0               2122.0

date                2025-03-24 00:00:00  2025-03-25 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  2052.0               7084.0
           1002                  6022.0               1371.0
           1003                   160.0               5424.0
           1004                  2109.0               6392.0
           1005                  1545.0               3310.0

date                2025-03-26 00:00:00  2025-03-27 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4567.0               2082.0
           1002                  2840.0               1403.0
           1003                  7410.0               1192.0
           1004                  8708.0                733.0
           1005                  6933.0                648.0

date                2025-03-28 00:00:00  2025-03-29 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4388.0               5305.0
           1002                  1336.0               3394.0
           1003                  3481.0               3525.0
           1004                   970.0               7585.0
           1005                  1264.0               7607.0

date                2025-03-30 00:00:00  2025-03-31 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  2920.0               7407.0
           1002                  8390.0               6947.0
           1003                  1553.0               3610.0
           1004                  3155.0               1052.0
           1005                  6203.0               9461.0

date                2025-04-01 00:00:00  2025-04-02 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  6879.0               5376.0
           1002                  1441.0               3486.0
           1003                  7691.0               1224.0
           1004                  4512.0                862.0
           1005                  1852.0               6749.0

date                2025-04-03 00:00:00  2025-04-04 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  7407.0               4661.0
           1002                  6947.0               2100.0
           1003                  3610.0               5693.0
           1004                  1052.0               1783.0
           1005                  9461.0               3005.0

date                2025-04-05 00:00:00  2025-04-06 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5375.0               6813.0
           1002                  7159.0               5540.0
           1003                  4310.0               2892.0
           1004                  5757.0               2562.0
           1005                  6668.0               4940.0

date                2025-04-07 00:00:00  2025-04-08 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4212.0               5433.0
           1002                  1090.0               1458.0
           1003                  3537.0                502.0
           1004                  4086.0               1660.0
           1005                   547.0               6874.0

date                2025-04-09 00:00:00  2025-04-10 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  5909.0               2734.0
           1002                  3472.0               2488.0
           1003                  2116.0                720.0
           1004                   547.0               8674.0
           1005                  5006.0               3586.0

date                2025-04-11 00:00:00  2025-04-12 00:00:00  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                  4941.0               5743.0
           1002                  2852.0               1259.0

In [369]:
medals.to_csv("medals.csv", encoding="utf_8_sig")
medals.tail()

date                2025-01-01  2025-01-02  2025-01-03  2025-01-04  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095           44.0       771.0      -571.0       -32.0
           1096          -62.0      2974.0     -1453.0       465.0
           1097        -1712.0      -421.0      1615.0      -109.0
           1098         2129.0      -744.0      -241.0     -1029.0
           1099         2444.0       265.0       -88.0      -503.0

date                2025-01-05  2025-01-06  2025-01-07  2025-01-08  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095          947.0      -291.0      1756.0      -426.0
           1096         -653.0       288.0       394.0      -468.0
           1097         -429.0      -544.0       453.0       232.0
           1098         -726.0      1006.0       156.0      -415.0
           1099         -844.0      -759.0       335.0      -244.0

date                2025-01-09  2025-01-10  2025-01-11  2025-01-12  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         2506.0      -191.0      1606.0      -409.0
           1096         -309.0      1088.0      1826.0        76.0
           1097         -762.0      -679.0      1544.0       194.0
           1098         -321.0       253.0     -1985.0     -1076.0
           1099         -797.0      1088.0     -1265.0     -1288.0

date                2025-01-13  2025-01-14  2025-01-15  2025-01-16  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -582.0       438.0      -803.0      -215.0
           1096         -368.0      -115.0       362.0      -371.0
           1097          679.0      -191.0      -782.0      -285.0
           1098         -700.0      1353.0     -1100.0      -232.0
           1099          638.0      -256.0     -1724.0      -185.0

date                2025-01-17  2025-01-18  2025-01-19  2025-01-20  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -332.0      -979.0      1579.0      -668.0
           1096         -944.0      -712.0      -959.0      -638.0
           1097          279.0      -368.0      -626.0      -385.0
           1098         1076.0      -568.0     -1935.0      -279.0
           1099         -656.0      -732.0     -1006.0       747.0

date                2025-01-21  2025-01-22  2025-01-23  2025-01-24  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -103.0       771.0       853.0      -750.0
           1096        -1029.0       244.0      -597.0       700.0
           1097         2647.0      -115.0        15.0     -1241.0
           1098         -921.0      -194.0       109.0      -315.0
           1099         -609.0       744.0       821.0      -109.0

date                2025-01-25  2025-01-26  2025-01-27  2025-01-28  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         1041.0     -1841.0     -1406.0      1688.0
           1096         2126.0     -1194.0      -262.0      -368.0
           1097         3071.0      1932.0         3.0      -285.0
           1098         3282.0     -1700.0       221.0      -606.0
           1099         2868.0     -2744.0     -1618.0      -115.0

date                2025-01-29  2025-01-30  2025-01-31  2025-02-01  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -309.0       688.0      1474.0        76.0
           1096          759.0       441.0     -1265.0      -794.0
           1097         -785.0       312.0      2585.0      -338.0
           1098         -268.0      -850.0      3956.0     -1441.0
           1099         1606.0      -132.0      -838.0      -644.0

date                2025-02-02  2025-02-03  2025-02-04  2025-02-05  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095          606.0      -485.0      -479.0      3118.0
           1096         4574.0      -503.0      -385.0      3071.0
           1097         -585.0       312.0      -932.0       638.0
           1098         -668.0      -679.0     -1500.0     -1335.0
           1099         1915.0      3353.0      1915.0       397.0

date                2025-02-06  2025-02-07  2025-02-08  2025-02-09  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095           44.0      -515.0       426.0       285.0
           1096          876.0      -356.0      -144.0      -512.0
           1097         -185.0       209.0      -585.0     -1053.0
           1098         -124.0      -232.0       700.0       279.0
           1099         -674.0      -509.0        21.0      1676.0

date                2025-02-10  2025-02-11  2025-02-12  2025-02-13  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095           56.0     -1512.0      -715.0      -215.0
           1096        -1124.0      -362.0      -747.0      -994.0
           1097          182.0      -144.0      -415.0      -432.0
           1098         -432.0       606.0      -156.0       629.0
           1099         2515.0      1112.0       959.0      -321.0

date                2025-02-14  2025-02-15  2025-02-16  2025-02-17  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -591.0      -829.0      1100.0      1418.0
           1096         -382.0      2462.0      -621.0      1112.0
           1097         -324.0      2779.0     -1418.0      -897.0
           1098         -732.0     -2762.0     -1124.0      -332.0
           1099         3024.0      -900.0      -791.0      -815.0

date                2025-02-18  2025-02-19  2025-02-20  2025-02-21  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -568.0      1206.0      -303.0     -1053.0
           1096         -262.0       465.0       356.0      -685.0
           1097         -391.0      -409.0      -297.0      -450.0
           1098         -156.0      -959.0      -276.0       924.0
           1099         -285.0        -3.0        97.0     -1429.0

date                2025-02-22  2025-02-23  2025-02-24  2025-02-25  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095          853.0      -815.0      -238.0       -26.0
           1096         -209.0     -2232.0      -732.0      2797.0
           1097         1018.0      -803.0     -1018.0     -1371.0
           1098         -644.0     -1668.0       144.0      1559.0
           1099         -724.0      1135.0       347.0     -1985.0

date                2025-02-26  2025-03-01  2025-03-02  2025-03-03  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -203.0      5841.0      2303.0      -291.0
           1096         1065.0      -403.0       150.0       -26.0
           1097        -1053.0       618.0       356.0      -379.0
           1098         -244.0        76.0       221.0        50.0
           1099        -1241.0     -1826.0      2109.0     -1747.0

date                2025-03-04  2025-03-05  2025-03-06  2025-03-07  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -559.0      -603.0      -979.0      -150.0
           1096          156.0     -2338.0      -721.0      -756.0
           1097           15.0        -3.0       621.0       756.0
           1098          103.0       156.0      3635.0      -703.0
           1099           74.0      -126.0      -291.0     -1065.0

date                2025-03-08  2025-03-09  2025-03-10  2025-03-11  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -668.0      -626.0      1147.0      2003.0
           1096          -91.0      -191.0      1288.0      3071.0
           1097        -1182.0     -1759.0      1879.0     -1676.0
           1098        -1006.0       124.0      -815.0       700.0
           1099         -809.0       429.0     -1265.0     -1124.0

date                2025-03-12  2025-03-13  2025-03-14  2025-03-15  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         2859.0       -32.0      -315.0      -512.0
           1096         1809.0      -568.0      1182.0     -1053.0
           1097         -415.0      -309.0       315.0      -756.0
           1098         -132.0      -844.0      -326.0       -88.0
           1099          879.0       903.0      -132.0     -2285.0

date                2025-03-16  2025-03-17  2025-03-18  2025-03-19  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        -1029.0       -26.0      -326.0        44.0
           1096          735.0      -615.0      -194.0      -597.0
           1097          509.0       -53.0      -521.0      -179.0
           1098         -603.0      1453.0        21.0      -585.0
           1099         -603.0       697.0      -315.0      1088.0

date                2025-03-20  2025-03-21  2025-03-22  2025-03-23  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         1288.0      1297.0        41.0      -715.0
           1096         -185.0      1265.0     -1747.0      -900.0
           1097        -1206.0       374.0      -876.0       574.0
           1098         -415.0      5171.0     -1088.0      -391.0
           1099           68.0       829.0     -2303.0     -1265.0

date                2025-03-24  2025-03-25  2025-03-26  2025-03-27  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -503.0        79.0       121.0      -368.0
           1096         -721.0       935.0       -32.0       185.0
           1097          503.0     -1335.0      -268.0      -479.0
           1098         -203.0      -818.0     -1535.0      -715.0
           1099          -50.0     -2303.0      2479.0       226.0

date                2025-03-28  2025-03-29  2025-03-30  2025-03-31  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        -1676.0      -597.0      1476.0      -503.0
           1096          724.0       321.0       168.0       582.0
           1097         -174.0      1368.0       135.0      2091.0
           1098          426.0       100.0       379.0      -656.0
           1099        -1700.0       162.0      -982.0       126.0

date                2025-04-01  2025-04-02  2025-04-03  2025-04-04  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -185.0       582.0      -503.0      -674.0
           1096         1068.0     -1076.0       582.0      -109.0
           1097        -1076.0      -109.0      2091.0     -1018.0
           1098         -209.0        56.0      -656.0     -1524.0
           1099         -135.0       582.0       126.0      -244.0

date                2025-04-05  2025-04-06  2025-04-07  2025-04-08  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         1121.0      -382.0       912.0      -485.0
           1096         -203.0       959.0        26.0      -274.0
           1097        -1509.0      -491.0     -1076.0      2109.0
           1098         -150.0      -691.0        91.0      -368.0
           1099         -347.0     -1206.0      -615.0      -359.0

date                2025-04-09  2025-04-10  2025-04-11  2025-04-12  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095          279.0        97.0      -656.0      -403.0
           1096         -650.0      -456.0     -1253.0       -74.0
           1097         -285.0       971.0      -644.0       268.0
           1098          -62.0        88.0      2797.0       185.0
           1099         1112.0       226.0      3165.0      2765.0

date                2025-04-13  2025-04-14  2025-04-15  2025-04-16
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         -385.0     -1688.0      2976.0       -62.0
           1096         -174.0      2691.0     -1253.0      -432.0
           1097        -1288.0      -656.0       912.0      2479.0
           1098         -809.0       197.0        38.0      -562.0
           1099         -426.0      -362.0       124.0     -1429.0

In [371]:
cumulative_df = medals.iloc[:, ::-1].cumsum(axis=1).iloc[:, ::-1]
cumulative_df = medals.cumsum(axis=1)
cumulative_df.to_csv("cumulative_df.csv", encoding="utf_8_sig")
cumulative_df.tail()

date                2025-01-01  2025-01-02  2025-01-03  2025-01-04  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095           44.0       815.0       244.0       212.0
           1096          -62.0      2912.0      1459.0      1924.0
           1097        -1712.0     -2133.0      -518.0      -627.0
           1098         2129.0      1385.0      1144.0       115.0
           1099         2444.0      2709.0      2621.0      2118.0

date                2025-01-05  2025-01-06  2025-01-07  2025-01-08  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         1159.0       868.0      2624.0      2198.0
           1096         1271.0      1559.0      1953.0      1485.0
           1097        -1056.0     -1600.0     -1147.0      -915.0
           1098         -611.0       395.0       551.0       136.0
           1099         1274.0       515.0       850.0       606.0

date                2025-01-09  2025-01-10  2025-01-11  2025-01-12  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         4704.0      4513.0      6119.0      5710.0
           1096         1176.0      2264.0      4090.0      4166.0
           1097        -1677.0     -2356.0      -812.0      -618.0
           1098         -185.0        68.0     -1917.0     -2993.0
           1099         -191.0       897.0      -368.0     -1656.0

date                2025-01-13  2025-01-14  2025-01-15  2025-01-16  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         5128.0      5566.0      4763.0      4548.0
           1096         3798.0      3683.0      4045.0      3674.0
           1097           61.0      -130.0      -912.0     -1197.0
           1098        -3693.0     -2340.0     -3440.0     -3672.0
           1099        -1018.0     -1274.0     -2998.0     -3183.0

date                2025-01-17  2025-01-18  2025-01-19  2025-01-20  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         4216.0      3237.0      4816.0      4148.0
           1096         2730.0      2018.0      1059.0       421.0
           1097         -918.0     -1286.0     -1912.0     -2297.0
           1098        -2596.0     -3164.0     -5099.0     -5378.0
           1099        -3839.0     -4571.0     -5577.0     -4830.0

date                2025-01-21  2025-01-22  2025-01-23  2025-01-24  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         4045.0      4816.0      5669.0      4919.0
           1096         -608.0      -364.0      -961.0      -261.0
           1097          350.0       235.0       250.0      -991.0
           1098        -6299.0     -6493.0     -6384.0     -6699.0
           1099        -5439.0     -4695.0     -3874.0     -3983.0

date                2025-01-25  2025-01-26  2025-01-27  2025-01-28  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         5960.0      4119.0      2713.0      4401.0
           1096         1865.0       671.0       409.0        41.0
           1097         2080.0      4012.0      4015.0      3730.0
           1098        -3417.0     -5117.0     -4896.0     -5502.0
           1099        -1115.0     -3859.0     -5477.0     -5592.0

date                2025-01-29  2025-01-30  2025-01-31  2025-02-01  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         4092.0      4780.0      6254.0      6330.0
           1096          800.0      1241.0       -24.0      -818.0
           1097         2945.0      3257.0      5842.0      5504.0
           1098        -5770.0     -6620.0     -2664.0     -4105.0
           1099        -3986.0     -4118.0     -4956.0     -5600.0

date                2025-02-02  2025-02-03  2025-02-04  2025-02-05  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         6936.0      6451.0      5972.0      9090.0
           1096         3756.0      3253.0      2868.0      5939.0
           1097         4919.0      5231.0      4299.0      4937.0
           1098        -4773.0     -5452.0     -6952.0     -8287.0
           1099        -3685.0      -332.0      1583.0      1980.0

date                2025-02-06  2025-02-07  2025-02-08  2025-02-09  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         9134.0      8619.0      9045.0      9330.0
           1096         6815.0      6459.0      6315.0      5803.0
           1097         4752.0      4961.0      4376.0      3323.0
           1098        -8411.0     -8643.0     -7943.0     -7664.0
           1099         1306.0       797.0       818.0      2494.0

date                2025-02-10  2025-02-11  2025-02-12  2025-02-13  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         9386.0      7874.0      7159.0      6944.0
           1096         4679.0      4317.0      3570.0      2576.0
           1097         3505.0      3361.0      2946.0      2514.0
           1098        -8096.0     -7490.0     -7646.0     -7017.0
           1099         5009.0      6121.0      7080.0      6759.0

date                2025-02-14  2025-02-15  2025-02-16  2025-02-17  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         6353.0      5524.0      6624.0      8042.0
           1096         2194.0      4656.0      4035.0      5147.0
           1097         2190.0      4969.0      3551.0      2654.0
           1098        -7749.0    -10511.0    -11635.0    -11967.0
           1099         9783.0      8883.0      8092.0      7277.0

date                2025-02-18  2025-02-19  2025-02-20  2025-02-21  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         7474.0      8680.0      8377.0      7324.0
           1096         4885.0      5350.0      5706.0      5021.0
           1097         2263.0      1854.0      1557.0      1107.0
           1098       -12123.0    -13082.0    -13358.0    -12434.0
           1099         6992.0      6989.0      7086.0      5657.0

date                2025-02-22  2025-02-23  2025-02-24  2025-02-25  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         8177.0      7362.0      7124.0      7098.0
           1096         4812.0      2580.0      1848.0      4645.0
           1097         2125.0      1322.0       304.0     -1067.0
           1098       -13078.0    -14746.0    -14602.0    -13043.0
           1099         4933.0      6068.0      6415.0      4430.0

date                2025-02-26  2025-03-01  2025-03-02  2025-03-03  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095         6895.0     12736.0     15039.0     14748.0
           1096         5710.0      5307.0      5457.0      5431.0
           1097        -2120.0     -1502.0     -1146.0     -1525.0
           1098       -13287.0    -13211.0    -12990.0    -12940.0
           1099         3189.0      1363.0      3472.0      1725.0

date                2025-03-04  2025-03-05  2025-03-06  2025-03-07  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        14189.0     13586.0     12607.0     12457.0
           1096         5587.0      3249.0      2528.0      1772.0
           1097        -1510.0     -1513.0      -892.0      -136.0
           1098       -12837.0    -12681.0     -9046.0     -9749.0
           1099         1799.0      1673.0      1382.0       317.0

date                2025-03-08  2025-03-09  2025-03-10  2025-03-11  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        11789.0     11163.0     12310.0     14313.0
           1096         1681.0      1490.0      2778.0      5849.0
           1097        -1318.0     -3077.0     -1198.0     -2874.0
           1098       -10755.0    -10631.0    -11446.0    -10746.0
           1099         -492.0       -63.0     -1328.0     -2452.0

date                2025-03-12  2025-03-13  2025-03-14  2025-03-15  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        17172.0     17140.0     16825.0     16313.0
           1096         7658.0      7090.0      8272.0      7219.0
           1097        -3289.0     -3598.0     -3283.0     -4039.0
           1098       -10878.0    -11722.0    -12048.0    -12136.0
           1099        -1573.0      -670.0      -802.0     -3087.0

date                2025-03-16  2025-03-17  2025-03-18  2025-03-19  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        15284.0     15258.0     14932.0     14976.0
           1096         7954.0      7339.0      7145.0      6548.0
           1097        -3530.0     -3583.0     -4104.0     -4283.0
           1098       -12739.0    -11286.0    -11265.0    -11850.0
           1099        -3690.0     -2993.0     -3308.0     -2220.0

date                2025-03-20  2025-03-21  2025-03-22  2025-03-23  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        16264.0     17561.0     17602.0     16887.0
           1096         6363.0      7628.0      5881.0      4981.0
           1097        -5489.0     -5115.0     -5991.0     -5417.0
           1098       -12265.0     -7094.0     -8182.0     -8573.0
           1099        -2152.0     -1323.0     -3626.0     -4891.0

date                2025-03-24  2025-03-25  2025-03-26  2025-03-27  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        16384.0     16463.0     16584.0     16216.0
           1096         4260.0      5195.0      5163.0      5348.0
           1097        -4914.0     -6249.0     -6517.0     -6996.0
           1098        -8776.0     -9594.0    -11129.0    -11844.0
           1099        -4941.0     -7244.0     -4765.0     -4539.0

date                2025-03-28  2025-03-29  2025-03-30  2025-03-31  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        14540.0     13943.0     15419.0     14916.0
           1096         6072.0      6393.0      6561.0      7143.0
           1097        -7170.0     -5802.0     -5667.0     -3576.0
           1098       -11418.0    -11318.0    -10939.0    -11595.0
           1099        -6239.0     -6077.0     -7059.0     -6933.0

date                2025-04-01  2025-04-02  2025-04-03  2025-04-04  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        14731.0     15313.0     14810.0     14136.0
           1096         8211.0      7135.0      7717.0      7608.0
           1097        -4652.0     -4761.0     -2670.0     -3688.0
           1098       -11804.0    -11748.0    -12404.0    -13928.0
           1099        -7068.0     -6486.0     -6360.0     -6604.0

date                2025-04-05  2025-04-06  2025-04-07  2025-04-08  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        15257.0     14875.0     15787.0     15302.0
           1096         7405.0      8364.0      8390.0      8116.0
           1097        -5197.0     -5688.0     -6764.0     -4655.0
           1098       -14078.0    -14769.0    -14678.0    -15046.0
           1099        -6951.0     -8157.0     -8772.0     -9131.0

date                2025-04-09  2025-04-10  2025-04-11  2025-04-12  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        15581.0     15678.0     15022.0     14619.0
           1096         7466.0      7010.0      5757.0      5683.0
           1097        -4940.0     -3969.0     -4613.0     -4345.0
           1098       -15108.0    -15020.0    -12223.0    -12038.0
           1099        -8019.0     -7793.0     -4628.0     -1863.0

date                2025-04-13  2025-04-14  2025-04-15  2025-04-16
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095        14234.0     12546.0     15522.0     15460.0
           1096         5509.0      8200.0      6947.0      6515.0
           1097        -5633.0     -6289.0     -5377.0     -2898.0
           1098       -12847.0    -12650.0    -12612.0    -13174.0
           1099        -2289.0     -2651.0     -2527.0     -3956.0

In [ ]:
condition = df["date"].dt.date >= datetime.date.today() - relativedelta(days=1)
df["date"][condition].unique()
# print(df["model_name"].unique())
# print(df["model_name"][condition].unique())
# print(df["unit_no"].nunique())
# print(df["unit_no"][condition].nunique())

['„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV' '„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2' '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº' '„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3' '„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº'
 '„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP' '„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫' '„Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII' 'S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK']
['„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV' '„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2' '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº' '„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3' '„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº'
 '„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP' '„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫']
152
152

## MONTH_ANALYSIS

In [10]:
# Êó•„Åî„Å®„Å´„É¢„Éá„É´Âà•„ÅßË°®Á§∫
SHEET_NAME = "HOLE_ANALYSIS"
MODEL_NAME = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"
df_tmp = df[(df["model_name"] == MODEL_NAME)].copy()
# „É°„ÉÄ„É´
summary = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="month",
    values="medals",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
summary.head()

month               2024-04  2024-05  2024-06  2024-07  2024-08  2024-09  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001      2895.0   4620.0   1012.0  -7425.0  -3903.0   3233.0
           1002     13950.0   5351.0   8095.0   7651.0   2323.0   8350.0
           1003     14057.0  12475.0   9104.0   4498.0   1771.0   6580.0
           1004      4949.0   8723.0   3594.0   6261.0   4198.0   -907.0
           1005     11637.0   4167.0  11100.0   5600.0    820.0     51.0

month               2024-10  2024-11  2024-12  2025-01  2025-02  2025-03  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001      2371.0  -7162.0  -9032.0   1606.0 -10442.0  -7233.0
           1002      5227.0  -7894.0    591.0  13541.0  -1870.0   5959.0
           1003      -877.0   8672.0   6747.0  -4302.0   4553.0   5974.0
           1004      7221.0   1500.0  -2992.0   8438.0   4868.0   5599.0
           1005     17447.0  -2571.0  -3268.0   5252.0    362.0   1950.0

month               2025-04  Total
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001     -1672.0 -31132
           1002      3149.0  64423
           1003      4924.0  74176
           1004     -3734.0  47718
           1005      6048.0  58595

## HOLE_ANALYSIS

In [7]:
# Êó•„Åî„Å®„Å´„É¢„Éá„É´Âà•„ÅßË°®Á§∫
SHEET_NAME = "HOLE_ANALYSIS"
df_tmp = df.copy()
# „É°„ÉÄ„É´
medals = df_tmp.pivot_table(
    index=["model_name"],
    columns="day",
    values="medals",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
# RBÔºøRATE
game = df_tmp.pivot_table(
    index=["model_name"],
    columns="day",
    values="game",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb = df_tmp.pivot_table(
    index=["model_name"],
    columns="day",
    values="RB",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb_rate = (game / rb).round(1)
rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
rb_rate = rb_rate.replace([np.inf, -np.inf], np.nan)
rb_rate = rb_rate.fillna("")
game.columns = pd.MultiIndex.from_product([["GAME"], game.columns])
# WRITE
sheet = spreadsheet.worksheet(SHEET_NAME)
sheet.clear()
set_with_dataframe(sheet, medals, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 4  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, rb_rate, row=next_row, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 6  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, game, row=next_row, include_index=True)

## UNIT_ANALYSIS

In [ ]:
# „Éû„Ç∑„É≥Âà•„É°„ÉÄ„É´
SHEET_NAME = "UNIT_ANALYSIS"
MACHINE_NAME = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"
# df_tmp = df[df["model_name"] == MACHINE_NAME].copy()
df_tmp = df.copy()
# „É°„ÉÄ„É´Êï∞
medals = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="medals",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
# medals["rank"] = medals["Total"].rank(method="min", ascending=False).astype(int)
medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
medals.shape
# RB_rate ‰ΩúÊàê
game = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="game",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="RB",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb_rate = (game / rb).round(1)
# rb_rate["rank"] = rb_rate["Total"].rank(method="min", ascending=True).astype(int)
rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
rb_rate = rb_rate.replace([np.inf, -np.inf], np.nan)
rb_rate = rb_rate.fillna(0)
rb_rate.shape

# ÂõûËª¢Êï∞
games = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="game",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
# games["rank"] = games["Total"].rank(method="min", ascending=False).astype(int)
games.columns = pd.MultiIndex.from_product([["GAMES"], games.columns])
games.head()

next_row = 1
spreadsheet = client.open_by_key(SPREADSHEET_ID)
sheet = spreadsheet.worksheet(SHEET_NAME)
sheet.clear()
set_with_dataframe(sheet, medals, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 4  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, rb_rate, row=next_row, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 6  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, games, row=next_row, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)

## DAY_DETAIL_N

In [ ]:
# Êó•‰ªòÊåáÂÆö
DAY = 15
SHEET_NAME = f"DAY_DETAIL_{DAY}"

next_row = 1
spreadsheet = client.open_by_key(SPREADSHEET_ID)
sheet = spreadsheet.worksheet(SHEET_NAME)

models = [
    "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV",
    # "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3",
    # "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP",
    # "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2",
]

for model in models:

    df_tmp = df[(df["day"] == DAY) & (df["model_name"] == model)].copy()
    df_tmp["date"] = df_tmp["date"].dt.strftime("%Y-%m-%d")

    # „É°„ÉÄ„É´Êï∞
    desired_order = ["medals", "game", "Total_rate", "RB_rate", "grape_rate"]
    medals = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values=desired_order,
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    # „Ç´„É©„É†È†ÜÂ∫è„ÇíÂÖ•„ÇåÊõø„Åà„ÇãÔºàswaplevelÔºâÔºÜ „ÇΩ„Éº„Éà
    medals = medals.replace([np.inf, -np.inf], np.nan)
    medals = medals.fillna(0)
    medals.columns = medals.columns.swaplevel(0, 1)
    medals = medals.sort_index(axis=1, level=0, ascending=False)  # Êó•‰ªò„Åî„Å®„Å´‰∏¶„Å≥Êõø„Åà

    # medals.drop(labels="Total", level=0, inplace=True)
    # medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
    display(medals.head())

    # RB_RATE
    # game = df_tmp.pivot_table(
    #     index=["model_name", "unit_no"],
    #     columns="date",
    #     values="game",
    #     aggfunc="sum",
    #     margins=True,
    #     margins_name="Total",
    # )
    # rb = df_tmp.pivot_table(
    #     index=["model_name", "unit_no"],
    #     columns="date",
    #     values="RB",
    #     aggfunc="sum",
    #     margins=True,
    #     margins_name="Total",
    # )
    
    # rb_rate = (game / rb).round(1)
    # medals.drop(labels="Total", level=0, inplace=True)
    # rb_rate["rank"] = rb_rate["Total"].rank(method="min", ascending=True).astype(int)
    # rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
    # rb_rate = rb_rate.replace([np.inf, -np.inf], np.nan)
    # rb_rate = rb_rate.fillna(0)
    # print(f"{model}_{rb_rate.shape}")

    # „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàËøΩË®ò
    sheet.clear()
    set_with_dataframe(sheet, medals, row=next_row, include_index=True)
    existing = get_as_dataframe(sheet, evaluate_formulas=True)
    next_row += medals.shape[0] + 5  # ËøΩË®òË°å
    # # set_with_dataframe(sheet, rb_rate, row=next_row, include_index=True)
    # existing = get_as_dataframe(sheet, evaluate_formulas=True)
    # next_row += medals.shape[0] + 5  # ËøΩË®òË°å

In [ ]:
medals.columns

## DAY n

In [373]:
def medals_and_rb_rate(machine_name, year, month, day, period=3):
    base_date = datetime.date(year, month, day)
    start_date = base_date + datetime.timedelta(days=-1)
    end_date = base_date + datetime.timedelta(days=-period)
    df_tmp = df[
        (df["model_name"] == machine_name)
        & (df["date"].dt.date <= start_date)
        & (df["date"].dt.date >= end_date)
    ]

    # „É°„ÉÄ„É´
    medals = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="medals",
        aggfunc="sum",
        margins=True,
        margins_name="Total",
    )
    medals.drop(labels="Total", level=0, inplace=True)
    medals["rank"] = medals["Total"].rank(method="min", ascending=True).astype(int)
    medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
    medals.tail()

    # RB_RATE
    df_tmp = df[(df["model_name"] == machine_name) & (df["date"].dt.date == base_date)]
    game = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="game",
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    bb = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="BB",
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    rb = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="RB",
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    rb_rate = (game / rb).round(1)
    rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
    rb_rate.head()
    
    total_rate = (game / (bb+rb)).round(1)
    total_rate.columns = pd.MultiIndex.from_product([["TOTAL_RATE"], total_rate.columns])

    game.columns = pd.MultiIndex.from_product([["GAME"], game.columns])
    bb.columns = pd.MultiIndex.from_product([["BB"], bb.columns])
    rb.columns = pd.MultiIndex.from_product([["RB"], rb.columns])

    # „Éá„Éº„Çø„ÇíË°®Á§∫ÔºàÈï∑„ÅÑÂ†¥Âêà„ÅØÂÖ®Ë°®Á§∫Ôºâ
    pd.set_option("display.max_rows", None)
    pd.set_option("display.max_columns", None)
    medal_rb_rate = pd.concat([medals, game, total_rate, rb_rate, bb, rb], axis=1)
    medal_rb_rate = medal_rb_rate.replace([np.inf, -np.inf], np.nan)
    medal_rb_rate = medal_rb_rate.fillna(0)

    medal_rb_rate = medal_rb_rate[medal_rb_rate["MEDALS"]["rank"] <= 10]

    return medal_rb_rate


# N_DAYS_AGO
MACHINE_NAME = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"

medal_rb_rate = medals_and_rb_rate(MACHINE_NAME, 2025, 4, 14)
medal_rb_rate.head(10)

                                MEDALS                      \
date               2025-04-11 00:00:00 2025-04-12 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   -453               -1112
           1029                  -1371                -924
           1042                  -1844               -1579
           1049                   -782                -782
           1050                  -1006                -935
           1069                  -2515                -356
           1082                  -1512                -276
           1083                  -2568                1088
           1089                  -1135               -1582
           1091                  -1135                -915

                                                                 GAME  \
date               2025-04-13 00:00:00 Total rank 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   -562 -2127   10                 0.0
           1029                  -1547 -3842    1              1781.0
           1042                   -291 -3714    2              7089.0
           1049                   -571 -2135    9              2363.0
           1050                   -974 -2915    5              8567.0
           1069                   -315 -3186    4              6827.0
           1082                   -488 -2276    8              8576.0
           1083                   -865 -2345    7              8189.0
           1089                   -726 -3443    3              6668.0
           1091                   -562 -2612    6              4896.0

                            TOTAL_RATE             RB_RATE  \
date               2025-04-14 00:00:00 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                    0.0                 0.0
           1029                  445.2                 0.0
           1042                  133.8               244.4
           1049                  181.8               787.7
           1050                  153.0               342.7
           1069                  170.7               525.2
           1082                  138.3               295.7
           1083                  117.0               264.2
           1089                  155.1               350.9
           1091                  148.4               349.7

                                    BB                  RB
date               2025-04-14 00:00:00 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                    0.0                 0.0
           1029                    4.0                 0.0
           1042                   24.0                29.0
           1049                   10.0                 3.0
           1050                   31.0                25.0
           1069                   27.0                13.0
           1082                   33.0                29.0
           1083                   39.0                31.0
           1089                   24.0                19.0
           1091                   19.0                14.0

In [374]:
models = ["„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV", "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3", "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP", "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2"]
today = datetime.date.today()
spreadsheet = client.open_by_key(SPREADSHEET_ID)
# „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàËøΩË®ò
target_day = 1
for target_day in range(today.day-1, today.day+1):
    sheet_name = f"DAY{target_day}"
    sheet = spreadsheet.worksheet(sheet_name)
    sheet.clear()
    base = datetime.date(today.year, today.month, target_day)
    dates = [base - relativedelta(months=i) for i in range(7)]
    
    next_row = 1
    for model in models:
        for d in dates:
            medal_rb_rate = medals_and_rb_rate(model, d.year, d.month, d.day)
            set_with_dataframe(sheet, medal_rb_rate, row=next_row, include_index=True)
            existing = get_as_dataframe(sheet, evaluate_formulas=True)
            next_row += medal_rb_rate.shape[0] + 5

    print(f"DAY{target_day} Êõ∏„ÅçËæº„ÅøÂÆå‰∫Ü„Åó„Åæ„Åó„Åü")

DAY16 Êõ∏„ÅçËæº„ÅøÂÆå‰∫Ü„Åó„Åæ„Åó„Åü

APIError: APIError: [429]: Quota exceeded for quota metric 'Write requests' and limit 'Write requests per minute per user' of service 'sheets.googleapis.com' for consumer 'project_number:660712279213'.

## MEDALS_nDAYS_AGO

In [391]:
def get_medals_summary(start_date, end_date, model_name):
    # RB_RATE
    df_tmp = df[(df["model_name"] == model_name) & (df["date"].dt.date <= start_date) & (df["date"].dt.date >= end_date)].copy()

    medals = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="date", values="medals", aggfunc="sum")
    # medals = medals.iloc[:, ::-1].cumsum(axis=1).iloc[:, ::-1]
    # medals.drop(labels="Total", level=0, inplace=True)
    # medals["Rank"] = medals["Total"].rank(method="min", ascending=True).astype(int)
    # medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
    term = 7
    for i in range(term):
        medals[f"total{term-i}"] = medals.iloc[:, i:term].sum(axis=1)
    for i in range(term):
        medals[f"rank{term-i}"] = medals[f"total{term-i}"].rank(method="min", ascending=True).astype(int)

    return medals


today = datetime.date.today()
start_date = today + datetime.timedelta(days=-4)
end_date = today + datetime.timedelta(days=-10)
ndays_ago = get_medals_summary(start_date, end_date, model)
ndays_ago.columns = pd.MultiIndex.from_product([["ndays_ago"], ndays_ago.columns])
ndays_ago.tail()

                             ndays_ago                      \
date               2025-04-07 00:00:00 2025-04-08 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                    912                -485
           1096                     26                -274
           1097                  -1076                2109
           1098                     91                -368
           1099                   -615                -359

                                                            \
date               2025-04-09 00:00:00 2025-04-10 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                    279                  97
           1096                   -650                -456
           1097                   -285                 971
           1098                    -62                  88
           1099                   1112                 226

                                                            \
date               2025-04-11 00:00:00 2025-04-12 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                   -656                -403
           1096                  -1253                 -74
           1097                   -644                 268
           1098                   2797                 185
           1099                   3165                2765

                                                                           \
date               2025-04-13 00:00:00 total7 total6 total5 total4 total3
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                   -385   -641  -1553  -1068  -1347  -1444
           1096                   -174  -2855  -2881  -2607  -1957  -1501
           1097                  -1288     55   1131   -978   -693  -1664
           1098                   -809   1922   1831   2199   2261   2173
           1099                   -426   5868   6483   6842   5730   5504


date               total2 total1 rank7 rank6 rank5 rank4 rank3 rank2 rank1
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095      -788   -385    38    22    28    25    25    33    43
           1096      -248   -174    10    10     6    14    23    45    55
           1097     -1020  -1288    47    59    31    32    18    23     3
           1098      -624   -809    66    63    67    69    65    38    13
           1099      2339   -426    80    81    80    80    80    77    39

In [392]:
model_name = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"
df_tmp = df[(df["model_name"] == model_name) & (df["date"].dt.date == today+datetime.timedelta(days=-3))]
game = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="date", values="game", aggfunc="sum")
bb = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="date", values="BB", aggfunc="sum")
rb = df_tmp.pivot_table(index=["model_name", "unit_no"], columns="date", values="RB", aggfunc="sum")
rb_rate = (game / rb).round(1)
total_rate = (game / (bb+rb)).round(1)
rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
total_rate.columns = pd.MultiIndex.from_product([["TOTAL_RATE"], total_rate.columns])
game.columns = pd.MultiIndex.from_product([["GAME"], game.columns])
bb.columns = pd.MultiIndex.from_product([["BB"], bb.columns])
rb.columns = pd.MultiIndex.from_product([["RB"], rb.columns])
medal_rb_rate = pd.concat([ndays_ago, game, bb, rb, total_rate, rb_rate], axis=1)
medal_rb_rate.to_csv(f"{model_name}_medal_rb_rate.csv", encoding="utf_8_sig")
medal_rb_rate.tail()

                             ndays_ago                      \
date               2025-04-07 00:00:00 2025-04-08 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                    912                -485
           1096                     26                -274
           1097                  -1076                2109
           1098                     91                -368
           1099                   -615                -359

                                                            \
date               2025-04-09 00:00:00 2025-04-10 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                    279                  97
           1096                   -650                -456
           1097                   -285                 971
           1098                    -62                  88
           1099                   1112                 226

                                                            \
date               2025-04-11 00:00:00 2025-04-12 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                   -656                -403
           1096                  -1253                 -74
           1097                   -644                 268
           1098                   2797                 185
           1099                   3165                2765

                                                                           \
date               2025-04-13 00:00:00 total7 total6 total5 total4 total3
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                   -385   -641  -1553  -1068  -1347  -1444
           1096                   -174  -2855  -2881  -2607  -1957  -1501
           1097                  -1288     55   1131   -978   -693  -1664
           1098                   -809   1922   1831   2199   2261   2173
           1099                   -426   5868   6483   6842   5730   5504

                                                                            \
date               total2 total1 rank7 rank6 rank5 rank4 rank3 rank2 rank1
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095      -788   -385    38    22    28    25    25    33    43
           1096      -248   -174    10    10     6    14    23    45    55
           1097     -1020  -1288    47    59    31    32    18    23     3
           1098      -624   -809    66    63    67    69    65    38    13
           1099      2339   -426    80    81    80    80    80    77    39

                                  GAME                  BB  \
date               2025-04-14 00:00:00 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                 4655.0                10.0
           1096                 7694.0                37.0
           1097                 2656.0                 7.0
           1098                 3599.0                15.0
           1099                 6425.0                22.0

                                    RB          TOTAL_RATE             RB_RATE
date               2025-04-14 00:00:00 2025-04-14 00:00:00 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1095                   14.0               194.0               332.5
           1096                   25.0               124.1               307.8
           1097                    8.0               177.1               332.0
           1098                    7.0               163.6               514.1
           1099                   17.0               164.7               377.9

In [325]:
SHEET_NAME = "MEDALS_nDAYS_AGO"

today = datetime.date.today()
start_date = today + datetime.timedelta(days=-1)
end_date = today + datetime.timedelta(days=-3)

models = [
    "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV",
    "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3",
    "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP",
    "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2",
]

# sheet = spreadsheet.worksheet(SHEET_NAME)
# sheet.clear()

# next_row = 1
# for model in models:
#     medals = get_medals_summary(start_date, end_date, model)
#     set_with_dataframe(sheet, medals, row=next_row, include_index=True)
#     existing = get_as_dataframe(sheet, evaluate_formulas=True)
#     next_row += medals.shape[0] + 5

### 
- 3Êúà5Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 3Êúà5Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà5Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ7Âè∞
- 3Êúà5Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ6Âè∞
### 
- 1Êúà12Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª5Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
### 
- 2Êúà12Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª5Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
###
- 3Êúà12Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ0Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ1Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª5Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª6Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª7Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞

In [47]:
df_tmp = df.copy()
df_tmp[df_tmp["date"].dt.date <= datetime.date(2024, 4, 26)]

Empty DataFrame
Columns: [hall_name, date, model_name, unit_no, game, BB, RB, medals, BB_rate, RB_rate, Total_rate, day, month, weekday]
Index: []

In [127]:
print(today - datetime.timedelta(days=347))

2024-05-02