In [1]:

from gspread_dataframe import get_as_dataframe, set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
import gspread
import pandas as pd
import numpy as np
import sqlite3
import datetime
from dateutil.relativedelta import relativedelta


DB_PATH = r"C:\python\dataOnline\anaslo_02\anaslo_02.db"

spreadSheet_ids = {
    "EXA FIRST": "10-B_vV1pvUzXmvGAiHhODGJgCloOsAmqSO9HvXpk_T8",
    "„Éë„É©„ÉÉ„ÉÑ„Ç©Â∑ùË∂äÂ∫ó": "179nJF0NvLng7xPKsd_NX2pJBXsDNsO8SJhOvUAvFk2I",
    }

# Ê§úÁ¥¢„Ç≠„Éº„ÉØ„Éº„Éâ„Çà„Çä„Éõ„Éº„É´ÂêçÂèñÂæó
SEARCH_WORD = "EXA FIRST"
SPREADSHEET_ID = spreadSheet_ids[SEARCH_WORD]

# „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàË™çË®ºË®≠ÂÆö
scope = [
    "https://spreadsheets.google.com/feeds",
    "https://www.googleapis.com/auth/drive",
]
jsonf = r"C:\python\dataOnline\anaslo_02\spreeadsheet-347321-ff675ab5ccbd.json"
creds = ServiceAccountCredentials.from_json_keyfile_name(jsonf, scope)
client = gspread.authorize(creds)
spreadsheet = client.open_by_key(SPREADSHEET_ID)

# # Table name ÂèñÂæó
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
tables = cursor.fetchall()
# print(tables)

cursor.execute(
    "SELECT hall_id, name FROM halls WHERE name LIKE ?", ("%" + SEARCH_WORD + "%",)
)
results = cursor.fetchall()

# ÁµêÊûúË°®Á§∫
if results:
    print(f"üîç '{SEARCH_WORD}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅÆÊ§úÁ¥¢ÁµêÊûú:")
    for hall_id, hall_name in results:
        print(f" - hall_name: {hall_name}, hall_id: {hall_id}")
else:
    print(f"‚ùå '{SEARCH_WORD}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅØË¶ã„Å§„Åã„Çä„Åæ„Åõ„Çì„Åß„Åó„Åü„ÄÇ")

query = """
-- Âá∫Áéâ„Éá„Éº„Çø„Å´„Éõ„Éº„É´Âêç„Å®Ê©üÁ®ÆÂêç„ÇíÁµêÂêà„Åó„Å¶ÂèñÂæó
SELECT
    r.*, 
    h.name AS hall_name,     -- „Éõ„Éº„É´Âêç„ÇíËøΩÂä†
    m.name AS model_name     -- Ê©üÁ®ÆÂêç„ÇíËøΩÂä†
FROM results r
JOIN halls h ON r.hall_id = h.hall_id  -- „Éõ„Éº„É´„Å®ÁµêÂêà
JOIN models m ON r.model_id = m.model_id  -- Ê©üÁ®Æ„Å®ÁµêÂêà
WHERE h.name = ?  -- ÊåáÂÆö„Éõ„Éº„É´„ÅÆ„Åø
AND m.name LIKE '%„Ç∏„É£„Ç∞„É©„Éº%'  -- „Ç∏„É£„Ç∞„É©„ÉºÁ≥ªÊ©üÁ®Æ„Å´ÈôêÂÆö
ORDER BY r.date DESC, r.unit_no ASC;
"""

# „Éñ„Éâ„Ç¶„Ç∑„Éü„É•„É¨„Éº„Çø„Éº
def grape_calculator_myfive(game, bb, rb, medals):
    bb_medals = 239.25
    rb_medals = 95.25
    cherry_rate_high = 0.04228
    cherry_rate_low = 0.05847
    replay_rate = 0.411
    denominator_inner = (-medals - (game*3 - (bb*bb_medals + rb*rb_medals + game*replay_rate + game*cherry_rate_high))) / 8
    grape_rate = (game / denominator_inner) - ((game / denominator_inner) * 2)
    
    return grape_rate

df = pd.read_sql_query(query, conn, params=(hall_name,))
conn.close()

df["date"] = pd.to_datetime(df["date"])
df.drop(columns=["result_id", "hall_id", "model_id"], inplace=True)
df = df[["hall_name", "date", "model_name", "unit_no", "game", "BB", "RB", "medals"]]
df["BB_rate"] = (df["game"] / df["BB"]).round(1)
df["RB_rate"] = (df["game"] / df["RB"]).round(1)
df["grape_rate"] = grape_calculator_myfive(df["game"], df["BB"], df["RB"], df["medals"]).round(2)
df["Total_rate"] = (df["game"] / (df["BB"] + df["RB"])).round(1)
df["month"] = df["date"].dt.strftime("%Y-%m")
df["day"] = df["date"].dt.day
df["weekday"] = df["date"].dt.weekday

df = df.replace([np.inf, -np.inf], np.nan)
df = df.fillna(0)

print(df.shape)
df.head()

üîç 'EXA FIRST' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅÆÊ§úÁ¥¢ÁµêÊûú:
 - hall_name: EXA FIRST, hall_id: 108
(57152, 15)

,hall_name,date,model_name,unit_no,game,BB,RB,medals,BB_rate,RB_rate,grape_rate,Total_rate,month,day,weekday
0,EXA FIRST,2025-04-14,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1001,2617,6,8,-1229,436.2,327.1,6.47,186.9,2025-04,14,0
1,EXA FIRST,2025-04-14,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1002,2473,7,2,-974,353.3,1236.5,5.72,274.8,2025-04,14,0
2,EXA FIRST,2025-04-14,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1003,3898,11,19,-432,354.4,205.2,6.17,129.9,2025-04,14,0
3,EXA FIRST,2025-04-14,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1004,1517,2,4,-968,758.5,379.2,5.96,252.8,2025-04,14,0
4,EXA FIRST,2025-04-14,„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3,1005,9033,39,31,1650,231.6,291.4,5.84,129.0,2025-04,14,0

In [27]:
condition = df["date"].dt.date >= datetime.date.today() - relativedelta(days=1)
df["date"][condition].unique()
print(df["model_name"].unique())
print(df["model_name"][condition].unique())
print(df["unit_no"].nunique())
print(df["unit_no"][condition].nunique())

['„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV' '„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2' '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº' '„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3' '„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº'
 '„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP' '„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫' '„Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII' 'S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK']
['„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV' '„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2' '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº' '„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3' '„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº'
 '„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP' '„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫']
152
152

## MONTH_ANALYSIS

In [10]:
# Êó•„Åî„Å®„Å´„É¢„Éá„É´Âà•„ÅßË°®Á§∫
SHEET_NAME = "HOLE_ANALYSIS"
MODEL_NAME = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"
df_tmp = df[(df["model_name"] == MODEL_NAME)].copy()
# „É°„ÉÄ„É´
summary = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="month",
    values="medals",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
summary.head()

month               2024-04  2024-05  2024-06  2024-07  2024-08  2024-09  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001      2895.0   4620.0   1012.0  -7425.0  -3903.0   3233.0
           1002     13950.0   5351.0   8095.0   7651.0   2323.0   8350.0
           1003     14057.0  12475.0   9104.0   4498.0   1771.0   6580.0
           1004      4949.0   8723.0   3594.0   6261.0   4198.0   -907.0
           1005     11637.0   4167.0  11100.0   5600.0    820.0     51.0

month               2024-10  2024-11  2024-12  2025-01  2025-02  2025-03  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001      2371.0  -7162.0  -9032.0   1606.0 -10442.0  -7233.0
           1002      5227.0  -7894.0    591.0  13541.0  -1870.0   5959.0
           1003      -877.0   8672.0   6747.0  -4302.0   4553.0   5974.0
           1004      7221.0   1500.0  -2992.0   8438.0   4868.0   5599.0
           1005     17447.0  -2571.0  -3268.0   5252.0    362.0   1950.0

month               2025-04  Total
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001     -1672.0 -31132
           1002      3149.0  64423
           1003      4924.0  74176
           1004     -3734.0  47718
           1005      6048.0  58595

## HOLE_ANALYSIS

In [7]:
# Êó•„Åî„Å®„Å´„É¢„Éá„É´Âà•„ÅßË°®Á§∫
SHEET_NAME = "HOLE_ANALYSIS"
df_tmp = df.copy()
# „É°„ÉÄ„É´
medals = df_tmp.pivot_table(
    index=["model_name"],
    columns="day",
    values="medals",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
# RBÔºøRATE
game = df_tmp.pivot_table(
    index=["model_name"],
    columns="day",
    values="game",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb = df_tmp.pivot_table(
    index=["model_name"],
    columns="day",
    values="RB",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb_rate = (game / rb).round(1)
rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
rb_rate = rb_rate.replace([np.inf, -np.inf], np.nan)
rb_rate = rb_rate.fillna("")
game.columns = pd.MultiIndex.from_product([["GAME"], game.columns])
# WRITE
sheet = spreadsheet.worksheet(SHEET_NAME)
sheet.clear()
set_with_dataframe(sheet, medals, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 4  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, rb_rate, row=next_row, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 6  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, game, row=next_row, include_index=True)

## UNIT_ANALYSIS

In [ ]:
# „Éû„Ç∑„É≥Âà•„É°„ÉÄ„É´
SHEET_NAME = "UNIT_ANALYSIS"
MACHINE_NAME = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"
# df_tmp = df[df["model_name"] == MACHINE_NAME].copy()
df_tmp = df.copy()
# „É°„ÉÄ„É´Êï∞
medals = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="medals",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
# medals["rank"] = medals["Total"].rank(method="min", ascending=False).astype(int)
medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
medals.shape
# RB_rate ‰ΩúÊàê
game = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="game",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="RB",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
rb_rate = (game / rb).round(1)
# rb_rate["rank"] = rb_rate["Total"].rank(method="min", ascending=True).astype(int)
rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
rb_rate = rb_rate.replace([np.inf, -np.inf], np.nan)
rb_rate = rb_rate.fillna(0)
rb_rate.shape

# ÂõûËª¢Êï∞
games = df_tmp.pivot_table(
    index=["model_name", "unit_no"],
    columns="day",
    values="game",
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)
# games["rank"] = games["Total"].rank(method="min", ascending=False).astype(int)
games.columns = pd.MultiIndex.from_product([["GAMES"], games.columns])
games.head()

next_row = 1
spreadsheet = client.open_by_key(SPREADSHEET_ID)
sheet = spreadsheet.worksheet(SHEET_NAME)
sheet.clear()
set_with_dataframe(sheet, medals, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 4  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, rb_rate, row=next_row, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)
next_row = len(existing) + 6  # +2: „Éò„ÉÉ„ÉÄ„Éº + Ê¨°„ÅÆÁ©∫Ë°å
set_with_dataframe(sheet, games, row=next_row, include_index=True)
existing = get_as_dataframe(sheet, evaluate_formulas=True)

## DAY_DETAIL_N

In [5]:
# Êó•‰ªòÊåáÂÆö
DAY = 15
SHEET_NAME = f"DAY_DETAIL_{DAY}"

next_row = 1
spreadsheet = client.open_by_key(SPREADSHEET_ID)
sheet = spreadsheet.worksheet(SHEET_NAME)

models = [
    "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV",
    # "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3",
    # "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP",
    # "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2",
]

for model in models:

    df_tmp = df[(df["day"] == DAY) & (df["model_name"] == model)].copy()
    df_tmp["date"] = df_tmp["date"].dt.strftime("%Y-%m-%d")

    # „É°„ÉÄ„É´Êï∞
    desired_order = ["medals", "game", "Total_rate", "RB_rate", "grape_rate"]
    medals = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values=desired_order,
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    # „Ç´„É©„É†È†ÜÂ∫è„ÇíÂÖ•„ÇåÊõø„Åà„ÇãÔºàswaplevelÔºâÔºÜ „ÇΩ„Éº„Éà
    medals = medals.replace([np.inf, -np.inf], np.nan)
    medals = medals.fillna(0)
    medals.columns = medals.columns.swaplevel(0, 1)
    medals = medals.sort_index(axis=1, level=0, ascending=False)  # Êó•‰ªò„Åî„Å®„Å´‰∏¶„Å≥Êõø„Åà

    # medals.drop(labels="Total", level=0, inplace=True)
    # medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
    display(medals.head())

    # RB_RATE
    # game = df_tmp.pivot_table(
    #     index=["model_name", "unit_no"],
    #     columns="date",
    #     values="game",
    #     aggfunc="sum",
    #     margins=True,
    #     margins_name="Total",
    # )
    # rb = df_tmp.pivot_table(
    #     index=["model_name", "unit_no"],
    #     columns="date",
    #     values="RB",
    #     aggfunc="sum",
    #     margins=True,
    #     margins_name="Total",
    # )
    
    # rb_rate = (game / rb).round(1)
    # medals.drop(labels="Total", level=0, inplace=True)
    # rb_rate["rank"] = rb_rate["Total"].rank(method="min", ascending=True).astype(int)
    # rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
    # rb_rate = rb_rate.replace([np.inf, -np.inf], np.nan)
    # rb_rate = rb_rate.fillna(0)
    # print(f"{model}_{rb_rate.shape}")

    # „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàËøΩË®ò
    sheet.clear()
    set_with_dataframe(sheet, medals, row=next_row, include_index=True)
    existing = get_as_dataframe(sheet, evaluate_formulas=True)
    next_row += medals.shape[0] + 5  # ËøΩË®òË°å
    # # set_with_dataframe(sheet, rb_rate, row=next_row, include_index=True)
    # existing = get_as_dataframe(sheet, evaluate_formulas=True)
    # next_row += medals.shape[0] + 5  # ËøΩË®òË°å

WorksheetNotFound: DAY_DETAIL_15

In [ ]:
medals.columns

## DAY n

In [6]:
def medals_and_rb_rate(machine_name, year, month, day, period=3):
    base_date = datetime.date(year, month, day)
    start_date = base_date + datetime.timedelta(days=-1)
    end_date = base_date + datetime.timedelta(days=-period)
    df_tmp = df[
        (df["model_name"] == machine_name)
        & (df["date"].dt.date <= start_date)
        & (df["date"].dt.date >= end_date)
    ]

    # „É°„ÉÄ„É´
    medals = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="medals",
        aggfunc="sum",
        margins=True,
        margins_name="Total",
    )
    medals.drop(labels="Total", level=0, inplace=True)
    medals["rank"] = medals["Total"].rank(method="min", ascending=True).astype(int)
    medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])
    medals.tail()

    # RB_RATE
    df_tmp = df[(df["model_name"] == machine_name) & (df["date"].dt.date == base_date)]
    game = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="game",
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    bb = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="BB",
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    rb = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="RB",
        aggfunc="sum",
        # margins=True,
        # margins_name="Total",
    )
    rb_rate = (game / rb).round(1)
    rb_rate.columns = pd.MultiIndex.from_product([["RB_RATE"], rb_rate.columns])
    rb_rate.head()
    
    total_rate = (game / (bb+rb)).round(1)
    total_rate.columns = pd.MultiIndex.from_product([["TOTAL_RATE"], total_rate.columns])

    game.columns = pd.MultiIndex.from_product([["GAME"], game.columns])
    bb.columns = pd.MultiIndex.from_product([["BB"], bb.columns])
    rb.columns = pd.MultiIndex.from_product([["RB"], rb.columns])

    # „Éá„Éº„Çø„ÇíË°®Á§∫ÔºàÈï∑„ÅÑÂ†¥Âêà„ÅØÂÖ®Ë°®Á§∫Ôºâ
    pd.set_option("display.max_rows", None)
    pd.set_option("display.max_columns", None)
    medal_rb_rate = pd.concat([medals, game, total_rate, rb_rate, bb, rb], axis=1)
    medal_rb_rate = medal_rb_rate.replace([np.inf, -np.inf], np.nan)
    medal_rb_rate = medal_rb_rate.fillna(0)

    medal_rb_rate = medal_rb_rate[medal_rb_rate["MEDALS"]["rank"] <= 10]

    return medal_rb_rate


# N_DAYS_AGO
MACHINE_NAME = "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV"

medal_rb_rate = medals_and_rb_rate(MACHINE_NAME, 2025, 4, 14)
medal_rb_rate.head(10)

                                MEDALS                      \
date               2025-04-11 00:00:00 2025-04-12 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   -453               -1112
           1029                  -1371                -924
           1042                  -1844               -1579
           1049                   -782                -782
           1050                  -1006                -935
           1069                  -2515                -356
           1082                  -1512                -276
           1083                  -2568                1088
           1089                  -1135               -1582
           1091                  -1135                -915

                                                                 GAME  \
date               2025-04-13 00:00:00 Total rank 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                   -562 -2127   10                 0.0
           1029                  -1547 -3842    1              1781.0
           1042                   -291 -3714    2              7089.0
           1049                   -571 -2135    9              2363.0
           1050                   -974 -2915    5              8567.0
           1069                   -315 -3186    4              6827.0
           1082                   -488 -2276    8              8576.0
           1083                   -865 -2345    7              8189.0
           1089                   -726 -3443    3              6668.0
           1091                   -562 -2612    6              4896.0

                            TOTAL_RATE             RB_RATE  \
date               2025-04-14 00:00:00 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                    0.0                 0.0
           1029                  445.2                 0.0
           1042                  133.8               244.4
           1049                  181.8               787.7
           1050                  153.0               342.7
           1069                  170.7               525.2
           1082                  138.3               295.7
           1083                  117.0               264.2
           1089                  155.1               350.9
           1091                  148.4               349.7

                                    BB                  RB
date               2025-04-14 00:00:00 2025-04-14 00:00:00
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1001                    0.0                 0.0
           1029                    4.0                 0.0
           1042                   24.0                29.0
           1049                   10.0                 3.0
           1050                   31.0                25.0
           1069                   27.0                13.0
           1082                   33.0                29.0
           1083                   39.0                31.0
           1089                   24.0                19.0
           1091                   19.0                14.0

In [ ]:
models = ["„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV", "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3", "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP", "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2"]
today = datetime.date.today()
spreadsheet = client.open_by_key(SPREADSHEET_ID)
# „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàËøΩË®ò
target_day = 1
for target_day in range(today.day - 1, today.day+1):
    sheet_name = f"DAY{target_day}"
    sheet = spreadsheet.worksheet(sheet_name)
    sheet.clear()
    base = datetime.date(today.year, today.month, target_day)
    dates = [base - relativedelta(months=i) for i in range(7)]
    
    next_row = 1
    for model in models:
        for d in dates:
            medal_rb_rate = medals_and_rb_rate(model, d.year, d.month, d.day)
            set_with_dataframe(sheet, medal_rb_rate, row=next_row, include_index=True)
            existing = get_as_dataframe(sheet, evaluate_formulas=True)
            next_row += medal_rb_rate.shape[0] + 5

    print(f"DAY{target_day} Êõ∏„ÅçËæº„ÅøÂÆå‰∫Ü„Åó„Åæ„Åó„Åü")

## MEDALS_nDAYS_AGO

In [18]:
def get_medals_summary(start_date, end_date, model_name):
    # RB_RATE
    df_tmp = df[
        (df["model_name"] == model_name)
        & (df["date"].dt.date <= start_date)
        & (df["date"].dt.date >= end_date)
    ].copy()

    medals = df_tmp.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values="medals",
        aggfunc="sum",
        margins=True,
        margins_name="Total",
    )
    medals.drop(labels="Total", level=0, inplace=True)
    medals["Rank"] = medals["Total"].rank(method="min", ascending=True).astype(int)
    medals.columns = pd.MultiIndex.from_product([["MEDALS"], medals.columns])

    return medals


today = datetime.date.today()
start_date = today + datetime.timedelta(days=-1)
end_date = today + datetime.timedelta(days=-3)
ndays_ago = get_medals_summary(start_date, end_date, model)
ndays_ago.head()

                                MEDALS                      \
date               2025-04-11 00:00:00 2025-04-12 00:00:00
model_name unit_no
„Çπ„Éû„Çπ„É≠ÂåóÊñó„ÅÆÊã≥   2207                     76                 -56
           2208                   -253                  91
           2209                   -503                 238
           2210                  -2197               -1488
           2211                  -1276               -2035


date               2025-04-13 00:00:00 Total Rank
model_name unit_no
„Çπ„Éû„Çπ„É≠ÂåóÊñó„ÅÆÊã≥   2207                  -1050 -1030   14
           2208                   -935 -1097   13
           2209                   -909 -1174   11
           2210                   1809 -1876    8
           2211                   -379 -3690    2

In [ ]:
SHEET_NAME = "MEDALS_nDAYS_AGO"

today = datetime.date.today()
start_date = today + datetime.timedelta(days=-1)
end_date = today + datetime.timedelta(days=-3)

models = [
    "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV",
    "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3",
    "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP",
    "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2",
]

sheet = spreadsheet.worksheet(SHEET_NAME)
sheet.clear()

next_row = 1
for model in models:
    medals = get_medals_summary(start_date, end_date, model)
    set_with_dataframe(sheet, medals, row=next_row, include_index=True)
    existing = get_as_dataframe(sheet, evaluate_formulas=True)
    next_row += medals.shape[0] + 5

### 
- 3Êúà5Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 3Êúà5Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà5Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ7Âè∞
- 3Êúà5Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ6Âè∞
### 
- 1Êúà12Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 1Êúà12Êó•„ÅÆÈÅéÂéª5Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
### 
- 2Êúà12Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 2Êúà12Êó•„ÅÆÈÅéÂéª5Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ5Âè∞
###
- 3Êúà12Êó•„ÅÆÈÅéÂéª1Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ0Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª2Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ1Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª3Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª4Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª5Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª6Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ3Âè∞
- 3Êúà12Êó•„ÅÆÈÅéÂéª7Êó•Èñì„ÅÆÂá∫Áéâ„ÉØ„Éº„Çπ„Éà10 ‚Üí 336‰ª•‰∏ã„ÅØ4Âè∞

In [47]:
df_tmp = df.copy()
df_tmp[df_tmp["date"].dt.date <= datetime.date(2024, 4, 26)]

Empty DataFrame
Columns: [hall_name, date, model_name, unit_no, game, BB, RB, medals, BB_rate, RB_rate, Total_rate, day, month, weekday]
Index: []

In [127]:
print(today - datetime.timedelta(days=347))

2024-05-02