In [3]:
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
import gspread
import pandas as pd
import numpy as np
import json
import sqlite3
import datetime
from dateutil.relativedelta import relativedelta


HALL_NAME = "Á¨¨‰∏Ä„Éó„É©„Ç∂Áã≠Â±±Â∫ó"
HALL_NAME = "„Éë„É©„ÉÉ„ÉÑ„Ç©Â∑ùË∂äÂ∫ó"
HALL_NAME = "„Éë„Éº„É´„Ç∑„Éß„ÉÉ„Éó„Å®„ÇÇ„ÅàÂ∑ùË∂äÂ∫ó"
HALL_NAME = "Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000"
# HALL_NAME = "EXA FIRST"

DB_PATH = r"C:\python\dataOnline\anaslo_02\db\anaslo_02.db"

# spreadSheet_ids = {
#     "EXA FIRST": "10-B_vV1pvUzXmvGAiHhODGJgCloOsAmqSO9HvXpk_T8",
    # "„Éë„É©„ÉÉ„ÉÑ„Ç©Â∑ùË∂äÂ∫ó": "179nJF0NvLng7xPKsd_NX2pJBXsDNsO8SJhOvUAvFk2I",
    # "Á¨¨‰∏Ä„Éó„É©„Ç∂Áã≠Â±±Â∫ó": "1IVb2Woq3n_PDZP87LdW9NpFP3Z6LeyQtONCkx_fWIq4",
    # "„Éë„Éº„É´„Ç∑„Éß„ÉÉ„Éó„Å®„ÇÇ„ÅàÂ∑ùË∂äÂ∫ó": "1i70joJ27Hs7inS-D89z9YMSJO1aRvaBeeWn0n9xpktY",
    # }

# Ê§úÁ¥¢„Ç≠„Éº„ÉØ„Éº„Éâ„Çà„Çä„Éõ„Éº„É´ÂêçÂèñÂæó
# SPREADSHEET_ID = spreadSheet_ids[HALL_NAME]

# „Çπ„Éó„É¨„ÉÉ„Éâ„Ç∑„Éº„ÉàË™çË®ºË®≠ÂÆö
# scope = [
#     "https://spreadsheets.google.com/feeds",
#     "https://www.googleapis.com/auth/drive",
# ]
# jsonf = r"C:\python\dataOnline\anaslo_02\json\spreeadsheet-347321-ff675ab5ccbd.json"
# creds = ServiceAccountCredentials.from_json_keyfile_name(jsonf, scope)
# client = gspread.authorize(creds)
# spreadsheet = client.open_by_key(SPREADSHEET_ID)

# # Table name ÂèñÂæó
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
tables = cursor.fetchall()
# print(tables)

cursor.execute(
    "SELECT hall_id, name FROM halls WHERE name LIKE ?", ("%" + HALL_NAME + "%",)
)
results = cursor.fetchall()

# ÁµêÊûúË°®Á§∫
if results:
    for hall_id, hall_name in results:
        # print(f" - hall_name: {hall_name}, hall_id: {hall_id}")
        print(f"üîç '{HALL_NAME}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅåË¶ã„Å§„Åã„Çä„Åæ„Åó„Åü„ÄÇ")
else:
    print(f"‚ùå '{HALL_NAME}' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅØË¶ã„Å§„Åã„Çä„Åæ„Åõ„Çì„Åß„Åó„Åü„ÄÇ")

query = """
-- Âá∫Áéâ„Éá„Éº„Çø„Å´„Éõ„Éº„É´Âêç„Å®Ê©üÁ®ÆÂêç„ÇíÁµêÂêà„Åó„Å¶ÂèñÂæó
SELECT
    r.*, 
    h.name AS hall_name,     -- „Éõ„Éº„É´Âêç„ÇíËøΩÂä†
    m.name AS model_name     -- Ê©üÁ®ÆÂêç„ÇíËøΩÂä†
FROM results r
JOIN halls h ON r.hall_id = h.hall_id  -- „Éõ„Éº„É´„Å®ÁµêÂêà
JOIN models m ON r.model_id = m.model_id  -- Ê©üÁ®Æ„Å®ÁµêÂêà
WHERE h.name = ?  -- ÊåáÂÆö„Éõ„Éº„É´„ÅÆ„Åø
AND m.name LIKE '%„Ç∏„É£„Ç∞„É©„Éº%'  -- „Ç∏„É£„Ç∞„É©„ÉºÁ≥ªÊ©üÁ®Æ„Å´ÈôêÂÆö
ORDER BY r.date DESC, r.unit_no ASC;
"""

df = pd.read_sql_query(query, conn, params=(hall_name,))
conn.close()

# „Éñ„Éâ„Ç¶„Ç∑„Éü„É•„É¨„Éº„Çø„Éº
def grape_calculator_myfive(game, bb, rb, medals, cherry=True):
    bb_medals = 239.25
    rb_medals = 95.25
    replay_rate = 0.411
    if cherry:
        cherry_rate_high = 0.04228
    else:
        cherry_rate_high = 0.05847
    denominator_inner = (-medals - (game*3 - (bb*bb_medals + rb*rb_medals + game*replay_rate + game*cherry_rate_high))) / 8
    grape_rate = (game / denominator_inner) - ((game / denominator_inner) * 2)
    
    return grape_rate

def assign_area(unit_no, json_file_path):
    with open(json_file_path, "r", encoding="utf-8") as f:
        area_map = json.load(f)
    for rule in area_map:
        if rule["start"] <= unit_no <= rule["end"]:
            return rule["area"]
    return "„Åù„ÅÆ‰ªñ"

df["date"] = pd.to_datetime(df["date"])
df.drop(columns=["result_id", "hall_id", "model_id"], inplace=True)
df = df[["hall_name", "date", "model_name", "unit_no", "game", "BB", "RB", "medals"]]
df["BB_rate"] = (df["game"] / df["BB"]).round(1)
df["RB_rate"] = (df["game"] / df["RB"]).round(1)
df["Grape_rate"] = grape_calculator_myfive(df["game"], df["BB"], df["RB"], df["medals"], cherry=True).round(2)
df["Total_rate"] = (df["game"] / (df["BB"] + df["RB"])).round(1)
df["month"] = df["date"].dt.strftime("%Y-%m")
df["day"] = df["date"].dt.day
df["weekday"] = df["date"].dt.weekday
df["unit_last"] = df["unit_no"].astype(str).str[-1]

JSON_FILE_PATH = r"C:\python\dataOnline\anaslo_02\json\exa_area_map.json"
df["area"] = df["unit_no"].apply(lambda x: assign_area(x, JSON_FILE_PATH))

df = df.replace([np.inf, -np.inf], np.nan)
df = df.fillna(0)

print(f'„Éá„Éº„Çø„Çµ„Ç§„Ç∫: {df.shape[0]} x {df.shape[1]}')
print(f'‰ª•‰∏ã„ÅÆÊó•‰ªò„ÅÆ„Éá„Éº„Çø„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Åæ„Åô')
print(df.date.unique()[0])
model_list = list(df["model_name"].unique())
print(f'‰ª•‰∏ã„ÅÆ„É¢„Éá„É´„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Åæ„Åô')
for i, model in enumerate(model_list):
    print(f'{i}: {model}', end=", ")
    
df.head()

üîç 'Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000' „ÇíÂê´„ÇÄ„Éõ„Éº„É´Âêç„ÅåË¶ã„Å§„Åã„Çä„Åæ„Åó„Åü„ÄÇ
„Éá„Éº„Çø„Çµ„Ç§„Ç∫: 11013 x 17
‰ª•‰∏ã„ÅÆÊó•‰ªò„ÅÆ„Éá„Éº„Çø„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Åæ„Åô
2025-04-26 00:00:00
‰ª•‰∏ã„ÅÆ„É¢„Éá„É´„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Åæ„Åô
0: „Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP, 1: „Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV, 2: „Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3, 3: „Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫, 4: „Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2, 5: „Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII, 6: „Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº,

,hall_name,date,model_name,unit_no,game,BB,RB,medals,BB_rate,RB_rate,Grape_rate,Total_rate,month,day,weekday,unit_last,area
0,Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000,2025-04-26,„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP,663,890,4,2,-64,222.5,445.0,6.75,148.3,2025-04,26,5,3,„Åù„ÅÆ‰ªñ
1,Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000,2025-04-26,„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP,664,2307,10,5,424,230.7,461.4,5.38,153.8,2025-04,26,5,4,„Åù„ÅÆ‰ªñ
2,Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000,2025-04-26,„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP,665,1256,6,2,331,209.3,628.0,5.28,157.0,2025-04,26,5,5,„Åù„ÅÆ‰ªñ
3,Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000,2025-04-26,„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP,666,352,0,1,-343,0.0,352.0,6.15,352.0,2025-04,26,5,6,„Åù„ÅÆ‰ªñ
4,Á¨¨‰∏Ä„Éó„É©„Ç∂ÂùÇÊà∏1000,2025-04-26,„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV,789,4757,14,15,-1360,339.8,317.1,6.37,164.0,2025-04,26,5,9,„Åù„ÅÆ‰ªñ

In [4]:
# ÂêÑÁ®Æ„Éî„Éú„ÉÉ„Éà„ÉÜ„Éº„Éñ„É´
def new_func(df, model_name, start_date, end_date):
    df_filtered = df.copy()
    df_filtered = df_filtered[df_filtered["model_name"] == model_name]
    df_filtered = df_filtered[(df_filtered["date"].dt.date >= start_date) & (df_filtered["date"].dt.date <= end_date)]
    pivot_targets = ["game", "RB_rate", "Total_rate"]
    pivot_results = {}
    for col in pivot_targets:
        table = df_filtered.pivot_table(
        index=["model_name", "unit_no"],
        columns="date",
        values=col,
        aggfunc="sum",
    )
        # Êó•‰ªòÂàó„ÇíÂèçËª¢„Éª„Çπ„É©„Ç§„Çπ
        pivot_results[col] = table.iloc[:, ::-1]

    game = pivot_results["game"]
    rb_rate = pivot_results["RB_rate"]
    total_rate = pivot_results["Total_rate"]

    # labeled_tables = [("GAME", game), ("RB_RATE", rb_rate), ("TOTAL_RATE", total_rate)]

    # „É©„Éô„É´„Çí MultiIndex „Å´‰ªò„Åë„Çã
    # for label, df_table in labeled_tables:
    #     df_table.columns = pd.MultiIndex.from_product([[label], df_table.columns])

    # display(game.head(2))
    # display(rb_rate.head(2))
    # display(total_rate.head(2))

    # Âàó„Çí‰∫§‰∫í„Å´Êï¥Âàó„Åó„Å¶Áµ±Âêà„ÉªNaNÈô§Âéª
    # interleaved_cols = [col for pair in zip(
    #     game.columns,
    #     rb_rate.columns,
    #     total_rate.columns,
    # ) for col in pair]
    # merged = pd.concat([game, rb_rate, total_rate], axis=1)[interleaved_cols]
    
    return game, rb_rate, total_rate

end_date = datetime.date.today()
start_date =  end_date - relativedelta(days=7)
game, rb_rate, total_rate = new_func(df, "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV", start_date, end_date)
game.head(2)

date                2025-04-26  2025-04-25  2025-04-24  2025-04-23  2025-04-21
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   789            4757        3981        1724        4165        7110
           790            8908        5013        5471        7720        7329

In [31]:
model_list = [
    "„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV",
    "„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3",
    "„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP",
    "„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2",
    "„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº",
    # "„Ç¶„É´„Éà„É©„Éü„É©„ÇØ„É´„Ç∏„É£„Ç∞„É©„Éº",
    # "„Éè„ÉÉ„Éî„Éº„Ç∏„É£„Ç∞„É©„ÉºVIII",
    # "„Ç∏„É£„Ç∞„É©„Éº„Ç¨„Éº„É´„Ç∫",
]

end_date = datetime.date.today()
start_date =  end_date - relativedelta(days=30)

df_filtered = df.copy()
merged_models = pd.DataFrame()
for model in list(model_list):
    print(model)
    empty_index = pd.MultiIndex.from_tuples([("", "")], names=game.index.names)
    empty_row = pd.DataFrame([[""] * game.shape[1]], index=empty_index, columns=game.columns)
    game, rb_rate, total_rate = new_func(df_filtered, model, start_date, end_date)
    merged_model = pd.concat([game, empty_row, rb_rate, empty_row, total_rate, empty_row], axis=0)
    # display(merged_model)
    merged_models = pd.concat([merged_models, merged_model, empty_row])

merged_models = merged_models[~merged_models.iloc[:, 0].isna()]
merged_models.to_csv(f"{HALL_NAME}_data.csv")
    
merged_models

„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV
„Ç¥„Éº„Ç¥„Éº„Ç∏„É£„Ç∞„É©„Éº3
„Ç¢„Ç§„É†„Ç∏„É£„Ç∞„É©„ÉºEX-TP
„Éï„Ç°„É≥„Ç≠„Éº„Ç∏„É£„Ç∞„É©„Éº2
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº

date               2025-04-26 2025-04-25 2025-04-24 2025-04-23 2025-04-22  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1021        8826.0     6716.0     3966.0     2325.0      917.0
           1022        6063.0     2819.0     2040.0     1446.0     6283.0
           1023        8608.0     5793.0     1164.0     1432.0     4225.0
           1024        6370.0     6651.0     1039.0     2857.0     1629.0
           1025        8163.0     6058.0     6269.0     1046.0     2006.0
...                       ...        ...        ...        ...        ...
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1111         173.3      124.3      132.7      225.0      139.1
           1112         184.4      146.2      146.6      261.0      161.5
           1113         145.6      140.2      184.5      138.9      193.4



date               2025-04-21 2025-04-20 2025-04-19 2025-04-18 2025-04-17  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1021        5682.0     2481.0     6266.0     6727.0     2756.0
           1022        3960.0     5519.0     4189.0      638.0     4361.0
           1023        1869.0     4971.0     6751.0     5084.0     3050.0
           1024        7437.0     2858.0     4017.0     2041.0     4721.0
           1025        3736.0     5616.0     2272.0     5285.0     3611.0
...                       ...        ...        ...        ...        ...
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1111         170.7        NaN        NaN        NaN        NaN
           1112         127.6        NaN        NaN        NaN        NaN
           1113         121.6        NaN        NaN        NaN        NaN



date                ... 2025-04-06 2025-04-05 2025-04-04 2025-04-03  \
model_name unit_no  ...
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1021     ...     5007.0     6008.0     7051.0     4091.0
           1022     ...     2808.0     8370.0     6547.0     1526.0
           1023     ...     1549.0     6244.0     2721.0     2807.0
           1024     ...     4499.0     7279.0     1175.0     5596.0
           1025     ...     1243.0     6282.0     5857.0     6759.0
...                 ...        ...        ...        ...        ...
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1111     ...        NaN        NaN        NaN        NaN
           1112     ...        NaN        NaN        NaN        NaN
           1113     ...        NaN        NaN        NaN        NaN
                    ...
                    ...

date               2025-04-02 2025-04-01 2025-03-31 2025-03-30 2025-03-29  \
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1021        2288.0     3920.0     4091.0     3856.0     2173.0
           1022        2897.0     5858.0     1526.0     5263.0     3833.0
           1023        3713.0     5756.0     2807.0     1453.0     4913.0
           1024        1492.0     2915.0     5596.0     7545.0     6980.0
           1025        3606.0     4900.0     6759.0     7105.0     1361.0
...                       ...        ...        ...        ...        ...
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1111           NaN        NaN        NaN        NaN        NaN
           1112           NaN        NaN        NaN        NaN        NaN
           1113           NaN        NaN        NaN        NaN        NaN



date               2025-03-28
model_name unit_no
„Éû„Ç§„Ç∏„É£„Ç∞„É©„ÉºV   1021        2370.0
           1022        1811.0
           1023        5132.0
           1024        2429.0
           1025        3394.0
...                       ...
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº  1111           NaN
           1112           NaN
           1113           NaN



[413 rows x 30 columns]