In [17]:
import sqlite3
import pandas as pd

db_path = r"C:\python\dataOnline\anaslo_02\db\anaslo_02.db"  # „Éë„Çπ„ÇíÈÅ©ÂÆúÂ§âÊõ¥

In [18]:
# „Éõ„Éº„É´Âêç„ÅßÊ§úÁ¥¢
hall_name = "EXA FIRST"

In [19]:
# „Éá„Éº„ÇøÊ§úÁ¥¢
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute("""
    SELECT * FROM results
    WHERE hall_id IN (
        SELECT hall_id FROM halls WHERE name = ?
    );
""", (hall_name,))
rows = cursor.fetchall()
print(f"{len(rows)} ‰ª∂„ÅÆ„Éá„Éº„Çø„ÅåÂâäÈô§ÂØæË±°„Åß„Åô")

156330 ‰ª∂„ÅÆ„Éá„Éº„Çø„ÅåÂâäÈô§ÂØæË±°„Åß„Åô

In [20]:
# „Éõ„Éº„É´Âêç„ÅßÂâäÈô§
# cursor.execute("""
#     DELETE FROM results
#     WHERE hall_id IN (
#         SELECT hall_id FROM halls WHERE name = ?
#     );
# """, (hall_name,))
# conn.commit()
# conn.close()

In [23]:
import sqlite3

db_path = r"C:\python\dataOnline\anaslo_02\db\anaslo_02.db"  # „Éë„Çπ„ÇíÈÅ©ÂÆúÂ§âÊõ¥
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# ÂâäÈô§ÂØæË±°„ÅÆ hall_id „ÇíÊåáÂÆö
hall_id = 605

cursor.execute("SELECT COUNT(*) FROM results WHERE hall_id = ?", (hall_id,))
count = cursor.fetchone()[0]
print(f"üîç Ê§úÁ¥¢„Éá„Éº„ÇøÊï∞: {count}")

üîç Ê§úÁ¥¢„Éá„Éº„ÇøÊï∞: 25282

In [22]:
# cursor.execute("DELETE FROM results WHERE hall_id = ?", (hall_id,))
# print(f"‚úÖ hall_id={hall_id} „ÅÆ„Éá„Éº„Çø„ÇíÂâäÈô§„Åó„Åæ„Åó„Åü")

conn.commit()
conn.close()

In [26]:
# Êó¢„Å´ DB „Å´Ê∑∑Âú®„Åó„Å¶„ÅÑ„ÇãÂ†¥Âêà„ÅÆÂØæÂøú

import sqlite3

db_path = r"C:\python\dataOnline\anaslo_02\db\anaslo_02.db"  # „Éë„Çπ„ÇíÈÅ©ÂÆúÂ§âÊõ¥
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute("SELECT model_id, name FROM models WHERE name LIKE '%„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº%'")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT model_id FROM models WHERE name = '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº'")
print("„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº:", cursor.fetchall())

cursor.execute("SELECT model_id FROM models WHERE name = 'S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK'")
print("S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK:", cursor.fetchall())

cursor.execute("SELECT model_id FROM models WHERE name = 'S „Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº KK'")
print("S „Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº KK:", cursor.fetchall())

cursor.execute(
    """
    UPDATE results
    SET model_id = (
        SELECT model_id FROM models WHERE name = '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº'
    )
    WHERE model_id IN (
        SELECT model_id FROM models WHERE name = 'S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK'
    );
    """
)

cursor.execute("DELETE FROM models WHERE name = 'S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK'")
cursor.execute("DELETE FROM models WHERE name = 'S „Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº KK'")


conn.commit()
conn.close()

(310, '„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº')
(163136, 'S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK')
(256957, 'S „Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº KK')
„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº: [(310,)]
S„Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„ÉºKK: [(163136,)]
S „Éü„Çπ„Çø„Éº„Ç∏„É£„Ç∞„É©„Éº KK: [(256957,)]